/* === Variable and mixins overides === */

$access-icon-arrow: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 123, 199, 1);transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>');
$access-icon-logout: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(201, 59, 59, 1);transform: ;msFilter:;"><path d="M16 13v-2H7V8l-5 4 5 4v-3z"></path><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"></path></svg>');
$access-color: #007BC7;
$access-border: 8px;
$access-padding: 12px;

/* === Bootstrap Import === */

// Eliminamos el color secundario para las alertas.
@import '~bootstrap/scss/list-group';


/* === Custom styles === */

a.list-group-item, .list-group-item:last-child {
  border: 0;
  border-radius: $access-border;
  margin-bottom: 2px;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  
  &:hover{
     background:#F3F6F9;
     text-decoration: none;
  }
  
  &:focus {    
    outline: $access-border auto $access-color;
    background: $white !important;
    color: $access-color !important;
    text-decoration: none;
  }
}

.icon-access:after {
    content: $access-icon-arrow;
    float: right;  
}

.close-sesion {

  &::after{
    content: $access-icon-logout;
    float: right;
  }
}
/* === Mobile styles === */
