/* === Variable and mixins overides === */

$alert-padding-y: spaceUnits(4);
$alert-padding-x: spaceUnits(6);
$alert-padding-left: 2.75rem;

$alert-border-width: 2px;

$alert-bg-level: -9.5;
$alert-border-level: 0;

$alert-icon-size: spaceUnits(5);
$alert-icon-position-top: 1.125rem;
$alert-icon-position-left: 1.625rem;
$alert-close-btn-width: 5.5rem;
$alert-text-distance: spaceUnits(2);

// Íconos para cada tipo de alerta

$alert-icons: (
  'success':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(38, 135, 74, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"></path></svg>'),
  'danger':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(201, 59, 59, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z"></path></svg>'),
  'primary':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 168, 46, 1);transform: ;msFilter:;"><path d="M12.884 2.532c-.346-.654-1.422-.654-1.768 0l-9 17A.999.999 0 0 0 3 21h18a.998.998 0 0 0 .883-1.467L12.884 2.532zM13 18h-2v-2h2v2zm-2-4V9h2l.001 5H11z"></path></svg>'),
  'info':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 123, 199, 1);transform: ;msFilter:;"><path d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM13 17h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>')
);

/* === Custom variables and mixins === */

@mixin alert-variant($background, $border, $color) {
  @include gradient-bg($background);
  border-color: $border;
  border: 2px solid $border;
  border-radius: spaceUnits(2);
  a {
    color: inherit;
  }
}

@mixin alert-icon($type) {
  &::before {
    background-image: map-get($alert-icons, $type);
  }
}

/* === Bootstrap Import === */

// Eliminamos el color secundario para las alertas.
$tmp: $theme-colors;
$theme-colors: map-remove($theme-colors, 'secondary');
$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $orange
  )
);
@import '~bootstrap/scss/alert';

/* === Custom styles === */

.alert {
  counter-reset: section;
  padding-left: $alert-padding-y + $alert-padding-left;

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: $alert-icon-size;
    height: $alert-icon-size;
    inset: $alert-icon-position-top 0 0 $alert-icon-position-left;
  }

  @each $color, $value in $theme-colors {
    &.alert-#{$color} {
      @include alert-icon($color);
    }
  }

  p,
  ol {
    margin-bottom: $alert-text-distance;
  }

  ol {
    color: $grisulado-900;
    padding-left: 0;
    list-style: none;
    
    &.list-links {
      color: $blue;
      text-decoration: underline;
    }

    li {
      margin-bottom: $alert-text-distance;

      &::before {
        counter-increment: section;
        content: counter(section) '. ';
      }
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  a {
    color: $blue;

    &:visited {
      color: $blue;
    }
  }
}

@include media-breakpoint-down(sm) {
  .alert {
    padding-left: $alert-padding-left;

    &::before {
      left: $alert-icon-position-left / 2;
    }
  }
}

// Volvemos a agregar el color secundario
$theme-colors: $tmp;
