/* === Variable and mixins overides === */

$badge-font-size: 0.8125rem;
$badge-font-weight: $font-weight-normal;
$badge-border-radius: spaceUnits(0.5);
$badge-separation: spaceUnits(2);

$badge-bg-level: -10;
$badge-bg-level-hover: -10;
$focus-color: #005387;

/* === Custom variables and mixins === */





/* === Bootstrap Import === */

@import '~bootstrap/scss/badge';

/* === Custom styles === */

.badge {
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 8px;
  color: $black;


  + .badge {
    margin-left: $badge-separation;
  }
}



@each $color, $value in $theme-colors {
  

  .badge-#{$color} {
    background-color: theme-color-level($color, -9);
    border-color: theme-color-level($color, 1);
  }

  a {
    &.badge {
      &:focus,
        &.focus {
          outline: 4px solid $focus-color ;
          border: none ;
          text-decoration: none ;
          color: $blue;
          background: theme-color-level($color, $badge-bg-level-hover) ;
        }
      
        &:hover,
        &.active {
          color: $blue ;
          text-decoration: underline ;
          background: theme-color-level($color, $badge-bg-level-hover) ;
          border-color: theme-color-level('info', 1);
        }
    }
  }
}
