/* === Variable and mixins overides === */

$badge-color: $grisulado-900;
$badge-color-hover: $blue;
$badge-font-size: 0.8125rem;
$badge-font-weight: $font-weight-normal;
$badge-border-radius: spaceUnits(2);
$badge-separation: spaceUnits(2);

$badge-bg-level: -9;
$badge-bg-level-hover: -9.6;

/* === Custom variables and mixins === */

@mixin badge-variant-custom($color, $value) {
  color: $badge-color;
  background-color: theme-color-level($color, $badge-bg-level);  
  box-shadow: 0 0 0 2px theme-color-level($color);

  @at-root a#{&} {
    &:focus,
    &.focus {
      outline: 0;
      color: $badge-color;
      background-color: theme-color-level($color, $badge-bg-level);
      box-shadow: $focus-box-shadow;
    }

    &:hover,
    &.active {
      color: $badge-color-hover;
      background-color: theme-color-level($color, $badge-bg-level-hover);
      text-decoration: underline;
    }
  }
}

/* === Bootstrap Import === */

@import '~bootstrap/scss/badge';

/* === Custom styles === */

.badge {
  text-decoration: none;
  text-transform: uppercase;  

  + .badge {
    margin-left: $badge-separation;
  }
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant-custom($color, $value);
  }
}
