/* === Variable and mixins overides === */

$badge-font-size: 0.8125rem;
$badge-font-weight: $font-weight-normal;
$badge-border-radius: spaceUnits(0.5);
$badge-separation: spaceUnits(2);

$badge-bg-level: -9;
$badge-bg-level-hover: -7;

/* === Custom variables and mixins === */

@mixin badge-variant-custom($color, $value) {
  color: $value;
  background-color: theme-color-level($color, $badge-bg-level);

  @at-root a#{&} {
    &:focus,
    &.focus {
      outline: 0;
      color: $value;
      background-color: theme-color-level($color, $badge-bg-level);
      box-shadow: $focus-box-shadow;
    }

    &:hover,
    &.active {
      color: $value;
      background-color: theme-color-level($color, $badge-bg-level-hover);
    }
  }
}

/* === Bootstrap Import === */

@import '~bootstrap/scss/badge';

/* === Custom styles === */

.badge {
  text-decoration: none;
  text-transform: uppercase;

  + .badge {
    margin-left: $badge-separation;
  }
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant-custom($color, $value);
  }
}
