/* === Variable and mixins overides === */

$breadcrumb-divider: quote('>');
$breadcrumb-bg: none;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '../../../node_modules/bootstrap/scss/breadcrumb';

/* === Custom styles === */

.breadcrumb a {
  color: $grisulado-900;
}
//pendiente revisar como agregarle el icono de la casa
