/* === Variable and mixins overides === */

$breadcrumb-divider: url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KPHBhdGggZmlsbD0iIzM4NDg1QyIgZD0iTTUuNSwxNS4xTDEyLjYsOEw1LjUsMC45TDMuNCwzLjFMOC4zLDhsLTQuOSw0LjlMNS41LDE1LjF6Ii8+Cjwvc3ZnPgo=');
$breadcrimb-divider-width: 1.5rem;
$breadcrumb-bg: transparent;
$breadcrumb-item-padding: 0.75rem;
$breadcrumb-padding-x: 0;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '~bootstrap/scss/breadcrumb';

/* === Custom styles === */

.breadcrumb .breadcrumb-item {
  a {
    max-width: 16rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:before {
    width: $breadcrimb-divider-width;
  }
}

@include media-breakpoint-down(md) {
  .breadcrumb {
    .breadcrumb-item:last-child {
      padding-left: 0;
      &:before {
        margin-right: $breadcrumb-item-padding;
        transform: rotate(0.5turn);
      }
    }
    .breadcrumb-item:not(:last-child) {
      display: none;
    }
  }
}
