/* === Variable and mixins overides === */

$btn-padding-y: 0.375rem;
$btn-padding-x: 0.75rem;
$btn-font-size: 1rem;
$btn-line-height: 1.375;
$btn-focus-width: 0.125rem;
$btn-font-weight: 600;

$btn-border-width: 0;

$btn-box-shadow: none;
$btn-focus-width: 4px;
$input-btn-focus-color: darken($component-active-bg, 60%);

$btn-padding-y-sm: 0.25rem;
$btn-padding-x-sm: 0.5rem;
$btn-font-size-sm: 0.75rem;

$btn-padding-y-lg: 0.75rem;
$btn-padding-x-lg: 1rem;
$btn-font-size-lg: 1.125rem;
$btn-line-height-lg: 1.375;

$btn-disabled-opacity: 0.5;

$btn-disabled-bg: $grisulado-50;
$btn-disabled-color: $gray-600;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '~bootstrap/scss/buttons';

/* === Custom styles === */

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include hover() {
      background-color: theme-color-level($color, 1);
      border-color: theme-color-level($color, 1);
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 $input-btn-focus-width theme-color-level($color, 3);

      &:not(:hover) {
        background-color: theme-color-level($color, 0);
      }
    }

    &.disabled,
    &:disabled {
      background-color: $btn-disabled-bg;
      color: $btn-disabled-color;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      background-color: theme-color-level($color, 1);

      &:focus {
        box-shadow: 0 0 0 $input-btn-focus-width theme-color-level($color, 3);
      }
    }
  }
}

.btn-link {
  font-weight: $btn-font-weight;
  text-decoration: none;
  @include hover() {
    background-color: $grisulado-50;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $input-btn-focus-width theme-color-level('info', 3);
    text-decoration: none;
  }
}

.btn-link {
  background-color: theme-color-level('info', -9.5);

  @include hover() {
    background-color: theme-color-level('info', -8.5);
    color: $link-color;
  }

  &:disabled,
  &.disabled {
    background-color: $btn-disabled-bg;
  }
}
