/* === Variable and mixins overides === */

$btn-padding-y: spaceUnits(2);
$btn-padding-x: spaceUnits(4);
$btn-font-size: $headline-md; //18px
$btn-line-height: $height-headline; //24px
$btn-focus-width: 0.125rem;
$btn-font-weight: $font-weight-bold;

$btn-border-width: 0;

$btn-box-shadow: none;
$btn-focus-width: 4px;
$btn-hover-width: 2px;
$input-btn-focus-color: darken($component-active-bg, 60%);
$input-btn-focus-width: 0.25rem;

$btn-padding-y-sm: 0.25rem;
$btn-padding-x-sm: 0.5rem;
$btn-font-size-sm: $headline-md; //18px
$btn-line-height-sm: $height-headline; //24px

$btn-padding-y-lg: spaceUnits(3);
$btn-padding-x-lg: spaceUnits(5);
$btn-font-size-lg: $headline-md; //18px
$btn-line-height-lg: $height-headline; //24px

$btn-disabled-opacity: 1;

$btn-disabled-bg: $grisulado-50;
$btn-disabled-color: $grisulado-300;
$btn-border-radius: spaceUnits(2);
$btn-border-radius-sm: spaceUnits(2);
$btn-border-radius-lg: spaceUnits(2);

$box-shadow-button: $focus;
$link-decoration: none;

$btn-link-disabled-color: $grisulado-300;

$btn-font-family: $font-family-headings;

$theme-colors: map-merge(
  $theme-colors,
  (
    'link': $ghost
  )
);

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import 'node_modules/bootstrap/scss/buttons';

$theme-color-btn-bg-hover: (
  primary: $blue-600,
  secondary: $blue-950,
  danger: $red-600,
  success: $green-700,
  link: $sky-50,
);

/* === Custom styles === */
@mixin btn-disabled {
  &.disabled,
  &:disabled {
    background-color: $disabled-bg;
    color: $disabled-text;
    pointer-events: none;
    outline-color: $disabled-bg;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color},
  .btn-outline-#{$color} {
    min-height: 40px;
    color: $white;
    text-decoration: $link-decoration;
    outline: .125rem solid map-get($theme-colors, $color);
    outline-offset: -.125rem;
    transition: all ease-in-out 50ms;

    &:hover,
    &.hover{
      outline-color: transparent;
      background-color: map-get($theme-color-btn-bg-hover, $color);
      box-shadow: 0 0 0 $btn-hover-width map-get($theme-color-btn-bg-hover, $color);
    }

    &:visited {
      color: $white;
    }

    &:focus,
    &.focus {
      outline: .25rem solid transparent;
      box-shadow: 0 0 0 $input-btn-focus-width $focus;
      text-decoration: $link-decoration;
      background-color: map-get($theme-color-btn-bg-hover, $color);
      @if $color == 'danger' {
        box-shadow: 0 0 0 $input-btn-focus-width $red-800;
      }
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      outline-color: transparent;
      background-color: map-get($theme-color-btn-bg-hover, $color);
      box-shadow: 0 0 0 $btn-hover-width map-get($theme-color-btn-bg-hover, $color);

      &:focus,
      &.focus {
        box-shadow: 0 0 0 $input-btn-focus-width $focus;
        text-decoration: $link-decoration;
      }
    }

    @include btn-disabled;

    @if $color == 'link' {
      color: $link-color;
      font-weight: $btn-font-weight;
      background-color: $white;

      @include hover() {
        background-color: $ghost-hover;
        color: $link-color;
        text-decoration: $link-decoration;
        box-shadow: 0 0 0 $btn-hover-width $ghost-hover;
      }

      &:visited {
        color: $link-color;
      }

      &:focus,
      &.focus {
        box-shadow: 0 0 0 $input-btn-focus-width $focus;
        color: $link-color;
      }

      &:not(:disabled):not(.disabled):active,
      &:not(:disabled):not(.disabled).active,
      .show > &.dropdown-toggle {
        background-color: $ghost-active;
        box-shadow: 0 0 0 $btn-hover-width $ghost-active;
        color: $link-color;
      }
    }
  }

  .btn-outline-#{$color} {
    color: map-get($theme-colors, $color);

    &:visited {
      color: map-get($theme-colors, $color);
    }

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      color: $white;
      @if $color == 'link' {
        color: $link-color;
      }
    }

    @if $color == 'link' {
      outline-color: $link-color;
      color: $link-color;
    }
  }
}

a.btn {
  text-decoration: $link-decoration;
}

//Botón con ícono
.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  i,
  .material-icons-round {
    font-size: 1rem;
  }

  &.btn-lg {
    i,
    .material-icons-round {
      font-size: 1.25rem;
    }
  }

  //Botón con spinner
  &:focus,
  &.focus,
  &:hover,
  &.hover,
  &:active,
  &.active {
    &:is(.btn-outline-secondary, .btn-outline-success, .btn-outline-danger) {
      .spinner-border {
        border-color: $white;
        border-right-color: $grisulado-300;
      }
    }
  }
}

//
// Button Sizes
//
.btn {
  &-sm {
    min-height: 32px;
  }

  &-lg {
    min-height: 48px;
  }
}

// Button background dark
.bg-dark, 
.banner-dark .banner-content .banner-actions {
  >.btn.btn-primary, .btn.btn-outline-primary {
    &.hover, &:hover, &.active, &:active {
      box-shadow: 0 0 0 2px $blue-100;
      background-color: $blue-100;
      outline-color: $blue-100;
      color: $body-color;
    }
    &.focus, &:focus {
      box-shadow: 0 0 0 4px $focus;
      background-color: $blue-100;
      outline-color: $blue-100;
      color: $body-color;
    }
    &:active, &.active {
      color: $body-color;
    }
  }
  >.btn.btn-secondary, .btn.btn-outline-secondary {
    background-color: $white;
    color: $body-color;
    outline: .125rem solid $white;
    &.hover, &:hover, &.active, &:active {
      box-shadow: 0 0 0 2px $gray-100;
      background-color: $gray-100;
      outline-color: $gray-100;
    }
    &.focus, &:focus {
      box-shadow: 0 0 0 4px $focus;
      background-color: $gray-100;
      outline-color: $gray-100;
    }
    &:active, &.active {
      color: $body-color;
    }
  }
  >.btn.btn-danger {
    &.hover, &:hover, &.active, &:active {
      box-shadow: 0 0 0 2px $red-100;
      background-color: $red-100;
      outline-color: $red-100;
      color: $red-600;
    }
    &.focus, &:focus {
      box-shadow: 0 0 0 4px $red-400;
      background-color: $red-100;
      outline-color: $red-100;
      color: $red-600;
      &:active, &.active {
        box-shadow: 0 0 0 4px $red-400;
      }
    }
    &:active, &.active {
      color: $red-600;
    }
  }
  >.btn.btn-outline-danger {
    color: $red-200;
    outline: .125rem solid $red-200;
    &.hover, &:hover, &.active, &:active {
      box-shadow: 0 0 0 2px $white;
      background-color: $red-500;
      outline-color: $red-500;
      color: $white;
    }
    &.focus, &:focus {
      box-shadow: 0 0 0 4px $red-500;
      background-color: $red-500;
      outline-color: $red-500;
      color: $white;
      &:active, &.active {
        box-shadow: 0 0 0 4px $red-500;
      }
    }
    &:active, &.active {
      color: $white;
    }
  }
  >.btn.btn-outline-link {
    color: $blue-100;
    outline: .125rem solid $blue-100;
    background-color: transparent;
  }
}