/* === Custom variables and mixins === */
$calendar-body-border: 1px solid $grisulado-10;
$calendar-spacing: 0.75rem;
$calendar-td-span-size: 2.25rem;

/* === Custom styles === */
.calendar {
  max-width: 340px;
  width: 100%;
  background-color: $white;

  .calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $calendar-spacing;
    .calendar-title,
    .calendar-year {
      @extend .h4;
      margin-bottom: 0;
    }
  }

  .calendar-body {
    border-top: $calendar-body-border;
    border-bottom: $calendar-body-border;
    @extend .h5;
    color: $grisulado-500;
    margin-bottom: 0;

    table {
      width: 100%;
      margin-top: $calendar-spacing;
      text-align: center;

      .calendar-week {
        th {
          font-weight: 700;
          color: $grisulado-900;
          padding-bottom: 1rem;
        }
      }

      .calendar-numbers {
        td {
          pointer-events: inherit;
          padding: 5px 0;

          .calendar-link {
            border-radius: 50%;
          }

          span {
            height: $calendar-td-span-size;
            width: $calendar-td-span-size;
            display: inline-block;
            line-height: $calendar-td-span-size;
            margin-bottom: 0;
            border-radius: 50%;

            &:after {
              line-height: 1.5;
            }

            &.active {
              color: $white;
              background-color: $blue;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .calendar-footer {
    padding: $calendar-spacing;
    .calendar-footer-list {
      padding: 0;
      margin-bottom: 0;

      li {
        font-size: 0.8125rem;
        list-style-type: none;
        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
