/* === Custom variables and mixins === */
$calendar-body-border: 1px solid $grisulado-50;
$calendar-spacing: 0.5rem 0.25rem;
$calendar-footer-spacing: 1rem 0.5rem 0;
$calendar-td-span-size: 2.25rem;

/* === Custom styles === */
.calendar {
  width: 100%;
  max-width: 328px;
  background-color: $white;
  padding: $calendar-spacing;

  @include media-breakpoint-up(md) {
    max-width: 340px;
  }

  .calendar-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0;
    height: 40px;
    .calendar-title,
    .calendar-year {
      @extend .h3;
      margin-bottom: 0;
    }
  }

  .calendar-body {
    padding: 1rem 0 0;
    border-top: $calendar-body-border;
    @extend .h5;
    color: $grisulado-700;
    margin-bottom: 0;

    table {
      width: 100%;
      text-align: center;

      th,
      td {
        padding: 0;
        span {
          height: 40px;
          width: 40px;
          display: inline-block;
          line-height: 40px;
          margin-bottom: 0;
          border-radius: 50%;
          margin: 0.25rem 0;
        }
      }

      .calendar-week-header {
        th {
          font-weight: 700;
          height: 48px;
          padding-bottom: 0.5rem;
        }
      }

      .calendar-week {
        line-height: 8px;
        &:nth-of-type(odd) {
          background-color: $ghost;
        }
        &:nth-of-type(even) {
          td {
            padding: 0.25rem 0;
          }
        }

        td {
          pointer-events: inherit;
          .calendar-link {
            border-radius: 50%;
          }

          span {
            &:after {
              line-height: 1.5;
            }

            &.disabled {
              color: $grisulado-300;
            }

            &.active {
              color: $white;
              background-color: $blue;
              min-width: 100%;
              height: 100%;
              margin: 0;

              cursor: pointer;
              &.bg-gray {
                background-color: $gray-100;
              }

              &.bg-sky,
              &.bg-lavender,
              &.bg-coral,
              &.bg-avocado,
              &.bg-citrus,
              &.bg-lime,
              &.bg-pistachio,
              &.bg-berries,
              &.bg-musket,
              &.bg-gray {
                color: $grisulado-900;
              }
            }
          }
        }
      }
    }
  }

  .calendar-footer {
    .calendar-footer-list {
      margin-top: 1rem;
      border-top: $calendar-body-border;
      padding: $calendar-footer-spacing;
      margin-bottom: 0;

      li {
        font-size: 0.8125rem;
        list-style-type: none;
        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }
      }
    }
    .accordion {
      margin-top: 1rem;
      .card {
        margin-bottom: 0;
        .calendar-footer-list {
          margin: 0;
          border-top: none;
          padding: 0;
        }
      }
    }
  }
}

.calendar-yearly {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: space-between;
  .calendar {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
  }
  @media only screen and (min-width: 976px) and (max-width: 1119.98px) {
    justify-content: space-evenly;
  }
}

.calendar-references {
  border: 1px solid #f3f6f9;
  border-radius: 8px;
  padding: 16px;
  width: min-content;
  .calendar-references-text {
    font-weight: 700;
    margin-bottom: 12px;
  }
  .calendar-references-box {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @include media-breakpoint-down(md) {
      gap: 48px;
      flex-wrap: nowrap;
    }

    div {
      display: flex;
      gap: 48px;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 8px;
      }
    }
    .color-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      min-width: 105px;
      .color {
        min-width: 1rem;
        max-height: 1rem;
        height: 1rem;
        border-radius: 50%;
        display: inline-block;
        font-size: 1px;
        color: transparent;
        &.bg-gray {
          background-color: $gray-100;
        }
      }
    }
  }
}
