/* === Variable and mixins overides === */

$card-border-radius: $border-radius-container;
$card-spacer-y: 1rem;
$card-spacer-x: 1.5rem;

$card-subtitle-font-size: 1.1875rem;
$card-subtitle-font-weight: 400;

$card-cap-color: $text-muted;
$card-cap-bg: inherit;
$card-active-color: $white;
$card-header-bg: $grisulado-50;
$card-header-paddin-y: 0.75rem;

$card-border-width: 0px;
$card-footer-border-width: 1px;
$card-shadow-color: rgba($grisulado-900, 0.3);
$card-box-shadow: 0px 1px 3px $card-shadow-color;
$card-box-hover-shadow: 0px 0px 24px $card-shadow-color;

$card-focus-width: 0.25rem;
$card-focus-box-shadow: $focus-box-shadow;

$card-deck-margin: $grid-gutter-width / 2;
$card-deck-margin-top: $grid-gutter-width;

$card-text-decoration: none;

/* === Custom variables and mixins === */

$accordion-margin: 0.75rem;

$accordion-icon-collapsed: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMkQ0MDUwIiBkPSJNMTkgMTFMMTMgMTEgMTMgNSAxMSA1IDExIDExIDUgMTEgNSAxMyAxMSAxMyAxMSAxOSAxMyAxOSAxMyAxMyAxOSAxM3oiLz48L3N2Zz4=');
$accordion-icon-expanded: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMkQ0MDUwIiBkPSJNNSAxMUgxOVYxM0g1eiIvPjwvc3ZnPg==');

@mixin card-deck-4 {
  .card {
    flex: 1 0 19%;
    margin-top: 0;
    &:nth-of-type(n + 5) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-3 {
  .card {
    flex: 1 0 25%;
    margin-top: 0;
    &:nth-of-type(n + 4) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-2 {
  .card {
    flex: 1 0 35%;
    margin-top: 0;
    &:nth-of-type(n + 3) {
      margin-top: $card-deck-margin-top;
    }
  }
}

/* === Bootstrap Import === */

@import '~bootstrap/scss/card';

/* === Custom styles === */

.card {
  box-shadow: $card-box-shadow;
  transition: $transition-base;

  .card-title {
    margin-bottom: 0;
  }

  .card-subtitle {
    font-size: $card-subtitle-font-size;
    font-weight: $card-subtitle-font-weight;
    margin-top: 0;
  }

  .card-text {
    margin-top: $card-spacer-y;
  }

  .card-footer {
    border-top-width: $card-footer-border-width;
    padding: $card-spacer-y 0 $card-spacer-x;
    margin: 0 $card-spacer-x;
  }

  .card-icon {
    font-size: 3rem;
    margin-bottom: $card-spacer-y;
  }

  &.card-simple {
    box-shadow: none;
    background: none;

    .card-body {
      padding: 0;
    }
  }

  &.card-horizontal {
    flex-direction: row;

    .card-img-left {
      width: 154px;
      object-fit: cover;
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }
  }
}

.card-deck {
  @include card-deck-2;
}

@include media-breakpoint-up(md) {
  .card-deck:not(.max-cards-2),
  .card-deck.max-cards-3 {
    @include card-deck-3;
  }
}

@include media-breakpoint-up(lg) {
  .card-deck:not(.max-cards-2):not(.max-cards-3) {
    @include card-deck-4;
  }
}

a.card,
button.card {
  text-align: left;
  color: $body-color;
  padding: 0;
  margin: 0;
  text-decoration: $card-text-decoration;

  @include hover() {
    box-shadow: $card-box-hover-shadow;
    text-decoration: $card-text-decoration;
    color: $body-color;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $card-focus-box-shadow;
    text-decoration: $card-text-decoration;
    color: $card-active-color;
    
    * {
      color: $card-active-color;
    }
  }
}

.accordion {
  > .card {
    margin-bottom: $accordion-margin;
    border-radius: 0 !important;
    box-shadow: none;
    overflow: visible;

    &:not(:last-of-type) {
      @include border-bottom-radius($card-border-radius);
    }

    &:not(:first-of-type) {
      @include border-top-radius($card-border-radius);
    }

    > .card-header {
      background-color: $card-header-bg;
      border-width: 0;
      text-align: left;
      padding-top: $card-header-paddin-y;
      padding-bottom: $card-header-paddin-y;
      transition: background-color 0.2s;
      border-radius: $border-radius $border-radius 0 0;
      position: relative;
      z-index: 1;
      @extend .h5;

      &:hover,
      &.hover {
        background-color: darken($card-header-bg, 5%);

        + * > .card-body {
          border-color: darken($card-header-bg, 5%);
        }
      }

      &:focus,
      &.focus {
        outline: none;
        box-shadow: $card-focus-box-shadow;
        border-radius: $border-radius;
      }

      &:after {
        content: $accordion-icon-expanded;
        height: spaceUnits(5);
        float: right;
      }

      &.collapsed {
        border-radius: $border-radius;

        &:after {
          content: $accordion-icon-collapsed;
        }
      }
    }

    .card-body {
      border: 2px solid $card-header-bg;
      @include border-bottom-radius($card-border-radius);
    }
  }
}
