/* === Variable and mixins overides === */

$card-border-radius: $border-radius-container;
$card-spacer-y: 1rem;
$card-spacer-x: 1.5rem;

$card-subtitle-font-size: 1.1875rem;
$card-subtitle-font-weight: 400;

$card-cap-color: $text-muted;
$card-cap-bg: inherit;
$card-active-color: $white;
$card-header-bg: $grisulado-50;
$card-header-paddin-y: 0.75rem;
$card-header-paddin-x: 1.5rem;
$card-bg-info: #005387;

$card-border-width: 0;
$card-shadow-color: $grisulado-50;
$card-box-shadow: 0 0 0 2px $card-shadow-color;
$card-box-hover-shadow: 0 0 0 2px $blue;

$card-icon-size: 1.8rem;
$card-icon-background-size: 52px;

$card-footer-icon-size: 1.25rem;

$card-focus-box-shadow: 0 0 0 4px $blue;

$card-deck-margin: $grid-gutter-width / 2;
$card-deck-margin-top: $grid-gutter-width;

$card-text-decoration: none;
$card-font-weight: 600;


$collapse-border-width: 2px;
$collapse-info-title-size: 1.3125rem;
$collapse-info-subtitle-size: 0.825rem;

/* === Custom variables and mixins === */

$accordion-margin: 0.75rem;

$accordion-icon-collapsed: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMkQ0MDUwIiBkPSJNMTkgMTFMMTMgMTEgMTMgNSAxMSA1IDExIDExIDUgMTEgNSAxMyAxMSAxMyAxMSAxOSAxMyAxOSAxMyAxMyAxOSAxM3oiLz48L3N2Zz4=');
$accordion-icon-expanded: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMkQ0MDUwIiBkPSJNNSAxMUgxOVYxM0g1eiIvPjwvc3ZnPg==');

@mixin card-deck-4 {
  .card {
    flex: 1 0 19%;
    margin-top: 0;
    &:nth-of-type(n + 5) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-3 {
  .card {
    flex: 1 0 25%;
    margin-top: 0;
    &:nth-of-type(n + 4) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-2 {
  .card {
    flex: 1 0 35%;
    margin-top: 0;
    &:nth-of-type(n + 3) {
      margin-top: $card-deck-margin-top;
    }
  }
}

/* === Bootstrap Import === */

@import '~bootstrap/scss/card';

/* === Custom styles === */

.card {
  box-shadow: $card-box-shadow;

  .card-body {
    padding: $card-spacer-y $card-spacer-x $card-spacer-x;
  }
  
  .card-title {
    margin-bottom: 0;
  }

  // h3.card-title {
  //   @extend .h4;
  // }

  .card-subtitle {
    font-size: $card-subtitle-font-size;
    font-weight: $card-subtitle-font-weight;
    margin-top: 0;
  }

  .card-text {
    margin-top: $card-spacer-y / 2;
  }

  .card-footer {
    padding: 0 0 $card-spacer-x;
    margin: 0 $card-spacer-x;

    .bx {
      font-size: $card-footer-icon-size;
      vertical-align: sub;
      margin-right: spaceUnits(1);
    }
  }

  .card-icon {
    font-size: 3rem;
    margin-bottom: $card-spacer-y;

    &.card-icon-with-bg {
      font-size: $card-icon-size;
      background-color: #f3f6f9;
      width: $card-icon-background-size;
      height: $card-icon-background-size;
      border-radius: 50%;
      text-align: center;
      line-height: $card-icon-background-size;
    }
  }

  .card-img-top {
    border-radius: $card-border-radius $card-border-radius 0 0;
  }

  &.card-simple {
    box-shadow: none;
    background: none;

    .card-body {
      padding: 0;
    }
  }

  &.card-horizontal {
    flex-direction: row;

    .card-img-left {
      width: 154px;
      object-fit: cover;
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }
  }
}

.card-deck {
  @include card-deck-2;
}

@include media-breakpoint-up(md) {
  .card-deck:not(.max-cards-2),
  .card-deck.max-cards-3 {
    @include card-deck-3;
  }
}

@include media-breakpoint-up(lg) {
  .card-deck:not(.max-cards-2):not(.max-cards-3) {
    @include card-deck-4;
  }
}

a.card,
a.card:visited,
button.card {
  text-align: left;
  color: $body-color;
  padding: 0;
  margin: 0;
  text-decoration: $card-text-decoration;

  @include hover() {
    box-shadow: $card-box-hover-shadow;
    text-decoration: $card-text-decoration;
    color: $body-color;

    .card-body,
    .card-footer {
      color: $blue;

      .card-title {
        text-decoration: underline;
      }
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $card-focus-box-shadow;
    text-decoration: $card-text-decoration;
    color: $body-color;
  }
}

.accordion {
  > .card {
    margin-bottom: $accordion-margin;
    border-radius: 0 !important;
    box-shadow: none;
    overflow: visible;

    &:not(:last-of-type) {
      @include border-bottom-radius($card-border-radius);
    }

    &:not(:first-of-type) {
      @include border-top-radius($card-border-radius);
    }

    > .card-header  {
      background-color: $card-header-bg;
      border-width: 0;
      text-align: left;
      padding-top: $card-header-paddin-y;
      padding-bottom: $card-header-paddin-y;
      transition: background-color 0.2s;
      border-radius: $border-radius $border-radius 0 0;
      position: relative;
      z-index: 1;
      @extend .h5;
      
      &:hover,
      &.hover {
        background-color: darken($card-header-bg, 5%);

        + * > .card-body {
          border-color: darken($card-header-bg, 5%);
        }
      }

      &:focus,
      &.focus {
        outline: none;
        box-shadow: $card-focus-box-shadow;
        border-radius: $border-radius;
      }

      &:after {
        content: $accordion-icon-expanded;
        height: spaceUnits(5);
        float: right;
      }

      &.collapsed {
        border-radius: $border-radius;

        &:after {
          content: $accordion-icon-collapsed;
        }
      }

      &.card-info {
        background-color: $grisulado-900;
        color: $white;

        + * > .card-body {
          border-color: $grisulado-900;
        }

        &:hover,
        &.hover {
          background-color: $card-bg-info;
  
          + * > .card-body {
            border-color: $card-bg-info;
          }
        }

        &:focus,
        &.focus {
          outline: none;
          box-shadow: $card-focus-box-shadow;
          background-color: $card-bg-info;
        }

        &:after {
           content: 'Ver menos';
           position: absolute;
           top: 50%;
           right: $card-header-paddin-x;
           transform: translateY(-50%);
           text-decoration: underline;
           font-weight: $card-font-weight;
        }
        &.collapsed {
          border-radius: $card-border-radius;
  
          &:after {
            content: 'Ver detalle';  
          }
        }
      }
    }

    .collpase-subtitle {
      text-transform: uppercase;
      font-weight: $card-font-weight;
      font-size: $collapse-info-title-size;
    }

    .collpase-title {
      font-weight: $card-subtitle-font-weight;
      font-size: $collapse-info-subtitle-size;
    }

    .card-body {
      border: $collapse-border-width solid $card-header-bg;
      @include border-bottom-radius($card-border-radius);
    }
  }
}
