/* === Variable and mixins overides === */

$card-border-radius: $border-radius-lg;
$card-spacer: 1rem;
$card-spacer-sm: 0.75rem;
$card-spacer-lg: 1.5rem;
$card-spacer-unbordered: 0 0 0 1rem;

$card-subtitle-font-size: 1.1875rem;
$card-subtitle-font-weight: 400;

$card-cap-color: $text-muted;
$card-cap-bg: inherit;
$card-active-color: $white;
$card-header-bg: $grisulado-10;
$card-header-padding: 0.75rem 1.813rem 0.75rem 1.5rem;
$card-bg-info: #005387;

$card-border-width: 0;
$card-shadow-color: $grisulado-10;
$card-box-shadow: 0 0 0 2px $card-shadow-color;
$card-box-hover-shadow: 0 0 0 2px $blue;

$card-picture-size: 4rem;
$card-picture-size-lg: 6rem;
$card-picture-size-lg-mobile: 4.5rem;

$card-icon-size: 2rem;
$card-icon-background-size: $card-picture-size;
$card-icon-bg: $grisulado-10;

$card-footer-icon-size: 1.25rem;

$card-event-img-border-radius: $border-radius-lg * 1.5;
$card-event-name-bg-gradient: linear-gradient(0deg, rgba($grisulado-900, 0.75) 25%, rgba($grisulado-900, 0) 100%);
$card-event-name-text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
$card-event-thumb-bracket: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="24" viewBox="0 0 12 24"> <circle fill="%236F6F6F" cx="6" cy="18" r="6"/> <path fill="%23E6EBF0" d="M6,0L6,0C3.8,0,2,1.8,2,4v14c0,2.2,1.8,4,4,4h0c2.2,0,4-1.8,4-4V4C10,1.8,8.2,0,6,0z"/> <path fill="%23FFFFFF" d="M6,0L6,0C3.8,0,2,1.8,2,4v6c0,2.2,1.8,4,4,4h0c2.2,0,4-1.8,4-4V4C10,1.8,8.2,0,6,0z"/> </svg>');

$card-focus-box-shadow: $focus-box-shadow;

$card-deck-margin: $grid-gutter-width / 2;
$card-deck-margin-top: $grid-gutter-width;

$card-text-decoration: none;
$card-font-weight: 700;

$collapse-border-width: 2px;
$collapse-info-subtitle-size: 1rem;

$accordion-margin: 0.75rem;
$accordion-card-header-padding: 0.75rem 1.5rem;

$accordion-icon-collapsed: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMkQ0MDUwIiBkPSJNMTkgMTFMMTMgMTEgMTMgNSAxMSA1IDExIDExIDUgMTEgNSAxMyAxMSAxMyAxMSAxOSAxMyAxOSAxMyAxMyAxOSAxM3oiLz48L3N2Zz4=');
$accordion-icon-expanded: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMkQ0MDUwIiBkPSJNNSAxMUgxOVYxM0g1eiIvPjwvc3ZnPg==');

$accordion-icon-collapsed-white: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>');
$accordion-icon-expanded-white: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M5 11h14v2H5z"></path></svg>');

$accordion-icon-collapsed-blue: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 123, 199);transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>');
$accordion-icon-expanded-blue: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 123, 199);transform: ;msFilter:;"><path d="M5 11h14v2H5z"></path></svg>');

$accordion-icon-user: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(56, 72, 92);transform: ;msFilter:;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>');
$accordion-icon-user-white: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>');
$accordion-icon-user-blue: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 123, 199);transform: ;msFilter:;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>');

@mixin card-deck-4 {
  .card,
  .group-access {
    flex: 1 0 19%;
    margin-top: 0;

    &:nth-of-type(n + 5) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-3 {
  .card,
  .group-access {
    flex: 1 0 25%;
    margin-top: 0;

    &:nth-of-type(n + 4) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-2 {
  .card,
  .group-access {
    flex: 1 0 35%;
    margin-top: 0;

    &:nth-of-type(n + 3) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin card-deck-1 {
  .card,
  .group-access {
    // Esto es necesario que siempre se vea de a 1 columna en todos los tamaños
    flex: 1 0 55% !important;
    margin-top: 0;

    &:nth-of-type(n + 2) {
      margin-top: $card-deck-margin-top;
    }
  }
}

@mixin accordion-columns-4 {
  i,
  .material-icons-round {
    grid-area: 1 / 1 / 4 / 2;
  }

  .collapse-label {
    grid-area: 1 / 2 / 2 / 3;
  }

  // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
  .collpase-title,
  .collapse-title {
    grid-area: 2 / 2 / 3 / 3;
  }

  // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
  .collpase-subtitle,
  .collapse-subtitle {
    grid-area: 3 / 2 / 4 / 3;
  }

  &:after {
    grid-area: 1 / 3 / 4 / 4;
  }
}

@mixin accordion-only-child($class) {
  &:has(#{$class}:only-child) {
    #{$class} {
      grid-area: auto;
    }

    &:after {
      grid-area: auto;
    }
  }
}

/* === Bootstrap Import === */

@import 'node_modules/bootstrap/scss/card';

/* === Custom styles === */

.card {
  box-shadow: $card-box-shadow;

  .card-body {
    padding: $card-spacer;
  }

  @include media-breakpoint-up(md) {
    .card-body {
      padding: $card-spacer-lg;
    }
  }

  .card-headline {
    font-size: $small-font-size;
    text-transform: uppercase;
    margin-bottom: spaceUnits(1);
  }

  .card-title {
    margin-bottom: 0;
    @extend .h4;
    font-weight: $headings-font-weight;

    @include media-breakpoint-up(sm) {
      font-weight: 700;
    }
  }

  .card-subtitle {
    font-size: $card-subtitle-font-size;
    font-weight: $card-subtitle-font-weight;
    margin-top: 0;
  }

  .card-text {
    margin-top: $card-spacer / 2;
  }

  .card-footer {
    padding: 0 0 $card-spacer-lg;
    margin: -$card-spacer-sm $card-spacer 0;

    .bx {
      font-size: $card-footer-icon-size;
      vertical-align: sub;
      margin-right: spaceUnits(1);
    }
  }

  @include media-breakpoint-up(md) {
    .card-footer {
      margin: -$card-spacer $card-spacer-lg 0;
    }
  }

  .card-icon {
    margin-bottom: $card-spacer;
    font-size: $card-icon-size;
    background-color: $card-icon-bg;
    width: $card-icon-background-size;
    height: $card-icon-background-size;
    border-radius: $border-radius-lg;
    text-align: center;
    line-height: $card-icon-background-size;
  }

  .card-img-top {
    border-radius: $card-border-radius $card-border-radius 0 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
  }

  .card-event-top {
    position: relative;
    margin-bottom: $card-spacer;
    z-index: 1;

    .card-event-bg {
      @extend .card-img-top;
    }

    .card-event-name {
      @extend .h4;
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: ($card-spacer * 3) $card-spacer-lg $card-spacer
        ($card-spacer-lg + $card-picture-size-lg + $card-spacer-sm);
      background: $card-event-name-bg-gradient;
      text-shadow: $card-event-name-text-shadow;
      color: $white;
      z-index: 2;
    }

    .card-event-img {
      position: absolute;
      left: $card-spacer-lg;
      bottom: -$card-spacer-lg;
      z-index: 3;

      img {
        width: $card-picture-size-lg;
        height: $card-picture-size-lg;
        border-radius: $card-event-img-border-radius;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
      }

      &:before,
      &:after {
        content: $card-event-thumb-bracket;
        position: absolute;
        top: spaceUnits(-3);
      }

      &:before {
        left: spaceUnits(4);
      }

      &:after {
        right: spaceUnits(4);
      }
    }
  }

  &.card-simple {
    box-shadow: none;
    background: none;

    .card-body {
      padding: 0;

      a {
        display: inline-block;
        width: fit-content;
      }
    }
  }

  &.unbordered {
    box-shadow: none;
    background: none;
  }

  &.card-horizontal {
    flex-direction: row;

    .card-img-left {
      width: $card-picture-size;
      height: $card-picture-size;
      margin: $card-spacer-sm;
      margin-right: 0;
      border-radius: $card-border-radius;
      object-fit: cover;
      flex-shrink: 0;

      + .card-body {
        padding: $card-spacer-sm;
      }
    }

    &.card-lg {
      .card-img-left {
        width: $card-picture-size-lg;
        height: $card-picture-size-lg;

        + .card-body {
          padding: $card-spacer;
        }
      }
    }

    @include media-breakpoint-up(md) {
      .card-img-left {
        margin: $card-spacer;
        margin-right: 0;

        + .card-body {
          padding: $card-spacer;
        }
      }

      &.card-lg {
        .card-img-left {
          + .card-body {
            padding: $card-spacer-lg $card-spacer;
          }
        }
      }
    }

    &.card-simple.card-horizontal {
      flex-direction: column;

      .card-img-left {
        width: $card-picture-size-lg-mobile;
        height: $card-picture-size-lg-mobile;
        margin: 0 0 $card-spacer;
        border-radius: 0;

        + .card-body {
          padding: 0;
        }
      }
    }

    @include media-breakpoint-up(md) {
      &.card-simple.card-horizontal {
        flex-direction: row;

        .card-img-left {
          width: $card-picture-size-lg;
          height: $card-picture-size-lg;
          margin: $card-spacer;

          + .card-body {
            padding: $card-spacer;
          }
        }
      }
    }

    .card-icon-left {
      @extend .card-icon;
      @extend .card-img-left;

      + .card-body {
        padding-left: $card-spacer-sm;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &.card-horizontal.unbordered {
    .card-body {
      padding: $card-spacer-unbordered;

      a {
        display: inline-block;
        width: fit-content;
      }
    }

    .card-icon-left {
      margin: 0;
    }
  }
}

.card-deck {
  @include card-deck-2;
}

.card-deck {
  .group-access {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .group-access {
      margin-right: $card-deck-margin;
      margin-bottom: 0;
      margin-left: $card-deck-margin;
    }
  }

  @include media-breakpoint-down(xs) {
    .card {
      &:nth-of-type(2) {
        margin-top: 30px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .card-deck:not(.max-cards-2),
  .card-deck.max-cards-3 {
    @include card-deck-3;
  }
}

@include media-breakpoint-up(lg) {
  .card-deck:not(.max-cards-2):not(.max-cards-3) {
    @include card-deck-4;
  }
}

.card-deck.max-cards-1 {
  @include card-deck-1;
}

.card-deck.card-column {
  .card,
  .group-access {
    max-width: calc(calc(100% / 4) - 30px);

    @include media-breakpoint-down(md) {
      max-width: calc(calc(100% / 3) - 30px);
    }

    @include media-breakpoint-down(sm) {
      max-width: calc(calc(100% / 2) - 30px);
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}

.card-deck.max-cards-3.card-column {
  .card,
  .group-access {
    max-width: calc(calc(100% / 3) - 30px);

    @include media-breakpoint-down(sm) {
      max-width: calc(calc(100% / 2) - 30px);
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}

.card-deck.max-cards-2.card-column {
  .card,
  .group-access {
    max-width: calc(calc(100% / 2) - 30px);

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}

.card-deck.max-cards-1.card-column {
  .card,
  .group-access {
    max-width: calc(calc(100% / 3) - 30px);

    &:nth-of-type(-n + 3) {
      margin-top: 0px;
    }

    @include media-breakpoint-down(sm) {
      max-width: calc(calc(100% / 2) - 30px);

      &:nth-of-type(-n + 3) {
        margin-top: 30px;
      }
    }

    @include media-breakpoint-down(xs) {
      max-width: 100%;
    }
  }
}

a.card,
a.card:visited,
button.card {
  text-align: left;
  color: $body-color;
  padding: 0;
  margin: 0;
  text-decoration: $card-text-decoration;

  @include hover() {
    box-shadow: $card-box-hover-shadow;
    text-decoration: $card-text-decoration;
    color: $body-color;

    .card-body,
    .card-footer,
    .card-icon-left {
      color: $blue;

      .card-title {
        text-decoration: underline;
      }
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $card-focus-box-shadow;
    text-decoration: $card-text-decoration;
    color: $body-color;
  }
}

.accordion {
  > .card {
    margin-bottom: $accordion-margin;
    border-radius: 0 !important;
    box-shadow: none;
    overflow: visible;

    &:not(:last-of-type) {
      @include border-bottom-radius($card-border-radius);
    }

    &:not(:first-of-type) {
      @include border-top-radius($card-border-radius);
    }

    > .card-header {
      font-family: $font-family-headings;
      background-color: $blue;
      border-width: 0;
      text-align: left;
      padding: $accordion-card-header-padding;
      transition: background-color 0.2s;
      border-radius: $border-radius-lg $border-radius-lg 0 0;
      position: relative;
      z-index: 1;
      color: $white;
      min-height: 48px;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto;
      grid-column-gap: 0.75rem;
      grid-row-gap: 0;
      align-items: center;
      word-break: break-word;
      @extend .h4;

      &:after {
        grid-area: 1 / 2 / 3 / 3;
      }

      &:has(i, .material-icons-round) {
        grid-template-columns: 1.5rem 1fr auto;
        @include accordion-columns-4;

        i, .material-icons-round {
          font-size: 1.5rem !important;
          width: 1.5rem;
        }
      }

      // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
      &:has(.collapse-label + .collapse-title, .collpase-title + .collapse-subtitle, .collpase-subtitle) {
        grid-row-gap: 0.25rem;

        .collapse-label {
          grid-area: 1 / 1 / 2;
        }

        // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
        .collpase-title,
        .collapse-title {
          grid-area: 2 / 1 / 3;
        }

        // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
        .collpase-subtitle,
        .collapse-subtitle {
          grid-area: 3 / 1 / 3;
        }

        &:after {
          grid-area: 1 / 2 / 4;
        }

        &:has(i, .material-icons-round) {
          @include accordion-columns-4;
        }
      }

      &:after {
        content: $accordion-icon-expanded-blue;
        height: spaceUnits(5);
        margin-left: auto;
      }

      &:focus,
      &.focus {
        outline: none;
        box-shadow: $card-focus-box-shadow;
        border-radius: $border-radius;
      }

      &:after {
        content: $accordion-icon-expanded-white;
        height: spaceUnits(6);
        float: right;
      }

      &.collapsed {
        border-radius: $border-radius-lg;
        background-color: $card-header-bg;
        color: $grisulado-900;
        position: relative;
        backface-visibility: hidden;

        &:hover,
        &.hover {
          background-color: $grisulado-10;
          color: $blue;
          box-shadow: $card-box-hover-shadow;
          backface-visibility: visible;

          + * > .card-body {
            border-color: $card-header-bg;
          }

          &:after {
            content: $accordion-icon-collapsed-blue;
            height: spaceUnits(6);
            display: inline-block;
            vertical-align: middle;
          }
        }

        &:after {
          content: $accordion-icon-collapsed;
          display: inline-block;
          vertical-align: middle;
        }
      }

      &.card-info {
        grid-column-gap: 0.75rem;
        grid-row-gap: 0.25rem;

        > br {
          display: none;
        }

        // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
        &:has(.collapse-label + .collapse-title, .collpase-title) {
          &:has(i, .material-icons-round) {
            grid-template-columns: 1.5rem 1fr auto;

            @include accordion-columns-4;
          }

          .collapse-label {
            grid-area: 1 / 1 / 2;
          }

          // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
          .collpase-title,
          .collapse-title {
            grid-area: 2 / 1 / 3;
          }

          // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
          .collpase-subtitle,
          .collapse-subtitle {
            grid-area: 3 / 1 / 3;
          }

          &:after {
            grid-area: 1 / 2 / 3;
          }

          // FIXME: REMOVER COLLPASE MAL ARMADO (VIEJO)
          &:has(span + br + span) {
            > br {
              display: none;
            }

            // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
            .collpase-title,
            .collapse-title {
              grid-area: 1 / 1 / 2;
            }

            // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
            .collpase-subtitle,
            .collapse-subtitle {
              grid-area: 2 / 1 / 3;
            }
          }
        }

        // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
        @include accordion-only-child('.collpase-title');
        @include accordion-only-child('.collapse-title');
        // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
        @include accordion-only-child('.collpase-subtitle');
        @include accordion-only-child('.collapse-subtitle');

        &.collapsed {
          border-radius: $card-border-radius;
        }
      }
    }

    // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
    .collpase-subtitle,
    .collapse-subtitle {
      font-weight: $card-subtitle-font-weight;
      font-size: $collapse-info-subtitle-size;
      font-family: $font-family-sans-serif;
      grid-area: 2 / 1 / 3 / 2;
      word-break: break-word;
    }

    // FIXME: REMOVER COLLPASE MAL TIPEADO MAS ADELANTE
    .collpase-title,
    .collapse-title {
      @extend .h4;
      font-weight: $card-font-weight;
      grid-area: 1 / 1 / 2 / 2;
      margin-bottom: 0;
      word-break: break-word;
    }

    .collapse-label {
      font-size: 0.813rem;
      grid-area: 2 / 1 / 3 / 2;
      font-weight: $lead-font-weight;
      word-break: break-word;
    }

    .card-body {
      padding: 1rem 1.5rem;
      border: $collapse-border-width solid $card-header-bg;
      @include border-bottom-radius($card-border-radius);

      hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      > h5 {
        font-weight: $headings-font-weight;
      }

      > label.card-details {
        cursor: pointer;
        margin-bottom: 0;
      }

      .card-details {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .card-details-content {
          display: grid;
          grid-column-gap: 1rem;
          width: 95%;

          @media screen and (max-width: 592px) {
            width: 70%;
          }

          > h5 {
            margin-bottom: 0;
            font-weight: $headings-font-weight;
          }
        }

        i,
        .material-icons-round {
          margin: auto 0;
          font-size: 1.25rem;
        }

        .form-radio {
          cursor: pointer;
          margin-left: auto;
          width: 1.25rem;
          height: 1.25rem;
          appearance: none;
          background-color: $white;
          font: inherit;
          color: currentColor;
          border: 0.15rem solid currentColor;
          border-radius: 50%;
          transform: translateY(-0.075rem);
          display: grid;
          place-content: center;
        }

        .form-radio:checked {
          border: 0.15rem solid $info;
        }

        .form-radio::before {
          content: '';
          width: 0.65rem;
          height: 0.65rem;
          border-radius: 50%;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1rem 1rem $info;
        }

        .form-radio:checked::before {
          transform: scale(1);
        }
      }
    }
  }
}
