/* === Variable and mixins overides === */

$dropdown-box-shadow: 0 0 0 2px $grisulado-50;
$dropdown-box-shadow-active: 0 0 0 2px $blue;
$dropdown-box-shadow-focus: 0 0 0 0.25rem #005387;
$dropdown-btn-gap: 0.25rem;
$dropdown-btn-padding: 0.5rem 0.75rem;
$dropdown-item-btn-gap: 0.75rem;
$dropdown-item-padding: spaceUnits(2) spaceUnits(3);
$dropdown-item-padding-checkbox: spaceUnits(2) spaceUnits(3) spaceUnits(2) spaceUnits(12);
$dropdown-item-padding-lg: spaceUnits(3);
$dropdown-item-padding-sm: 0.1875rem spaceUnits(3);
$dropdown-item-padding-left-checkbox: spaceUnits(12);

$animation-toggle: transform 0.2s ease-in-out;

/* === Bootstrap Import === */
@import 'node_modules/bootstrap/scss/dropdown';

/* === Custom styles === */

$custom-checkbox-dropdown: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="13" viewBox="0 0 17 13" fill="none"><path d="M5.1725 10.1625L1.7025 6.6925C1.3125 6.3025 0.6825 6.3025 0.2925 6.6925C-0.0975 7.0825 -0.0975 7.7125 0.2925 8.1025L4.4725 12.2825C4.8625 12.6725 5.4925 12.6725 5.8825 12.2825L16.4625 1.7025C16.8525 1.3125 16.8525 0.6825 16.4625 0.2925C16.0725 -0.0975 15.4425 -0.0975 15.0525 0.2925L5.1725 10.1625Z" fill="%23007bc7"/></svg>');

//Mixin styles dropdown form
@mixin dropdown-menu-style-sm() {
  .custom-control-label,
  .dropdown-item {
    min-height: 1.875rem;
    padding: $dropdown-item-padding-sm;

    &::before {
      top: 5.5px;
    }
  }

  .custom-control-label {
    padding-left: $dropdown-item-padding-left-checkbox;
  }

  .custom-checkbox {
    .custom-control-input, .custom-control-label::after, .custom-control-label::before  {
      top: 3px;
    }
  }

  .btn:not(.sub-btn-dropdown),
  .btn-chip {
    min-height: 1.875rem;
    padding: $dropdown-item-padding-sm;
  }
}

@mixin dropdown-menu-style-lg() {
  .custom-control-label,
  .dropdown-item {
    min-height: 3rem;
    padding: $dropdown-item-padding-lg;

    &::before {
      top: 0.9rem;
    }
  }

  .custom-control-label {
    padding-left: $dropdown-item-padding-left-checkbox;
  }

  .custom-checkbox {
    .custom-control-input, .custom-control-label::after, .custom-control-label::before  {
      top: 12px;
    }
  }

  .btn:not(.sub-btn-dropdown),
  .btn-chip {
    min-height: 3em;
    padding: $dropdown-item-padding-lg;
  }

  .custom-control {
    min-height: 1.875rem;
  }
}

//fin Mixin styles dropdown form

.dropdown {
  width: fit-content;

  // Estilos generales de dropdown menu show
  &.show {
    > .btn {
      &.btn-dropdown {
        color: $white;
        background: $blue;
        border-radius: spaceUnits(2);
        text-decoration: none;
        box-shadow: none;

        &.btn-dropdown-border {
          box-shadow: $dropdown-box-shadow-active;
        }

        .btn-dropdown-icon {
          transform: rotate(-180deg);
          transition: $animation-toggle;
          font-size: 1.5rem;
        }

        &.dropdown-toggle:after {
          content: none;
        }

        &:focus,
        &:hover {
          box-shadow: none;
          background-color: $blue;
          color: $white;

          &.btn-dropdown-border {
            box-shadow: $dropdown-box-shadow-active;
          }

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .btn {
    &.dropdown-chevron {
      padding: 2px;

      &:hover {
        background-color: transparent;
        border-radius: spaceUnits(2);
      }
    }

    &.btn-dropdown {
      font-weight: $body-font-weight;
      border: none;
      background-color: $white;
      min-height: 40px;
      font-size: 1.125rem;
      line-height: 24px;
      padding: $dropdown-btn-padding;
      display: flex;
      align-items: center;
      gap: $dropdown-btn-gap;

      &.dropdown-toggle:after {
        content: none;
      }

      &[aria-expanded='true'] {
        .btn-dropdown-icon {
          transform: rotate(-180deg);
          transition: $animation-toggle;
        }
      }

      .bx,
      .material-icons-round {
        font-size: 1.5rem;
      }

      &-sm {
        min-height: 30px;
        padding: 0.1875rem 0.75rem;

        .bx,
        .material-icons-round {
          font-size: 21px;
        }

        + .dropdown-menu {
          @include dropdown-menu-style-sm();
        }
      }

      &-lg {
        padding: 0.75rem;
        min-height: 48px;

        + .dropdown-menu {
          @include dropdown-menu-style-lg();
        }
      }

      &.btn-dropdown-border {
        box-shadow: $dropdown-box-shadow;
        border-radius: spaceUnits(2);
      }

      &:hover {
        border-radius: spaceUnits(2);
        box-shadow: $dropdown-box-shadow-active;
        text-decoration: none;
        color: $blue;
      }

      &:focus {
        box-shadow: $dropdown-box-shadow-focus;
        background: $white;
        text-decoration: none;
        border-radius: spaceUnits(2);

        &:hover {
          color: $grisulado-900;
        }

        &[aria-expanded='true'] {
          box-shadow: none;
        }
      }

      &:not(.sub-btn-dropdown) {
        &.active,
        &:active {
          color: $white;
          background: $blue;
          border-radius: spaceUnits(2);
          text-decoration: none;
          box-shadow: none;

          &:hover {
            color: $white;
            text-decoration: none;
          }
        }
      }

      .btn-dropdown-icon {
        transform: rotate(-360deg);
        transition: $animation-toggle;
      }

      .dropdown-toggle {
        color: $grisulado-900;
      }
    }
  }

  &:has(> .collapse.show, > .collapsing) {
    > .btn.btn-dropdown:not(.collapsed):not(.sub-btn-dropdown) {
      background-color: $blue;
      color: $white;
    }

    > .btn.btn-dropdown.btn-dropdown-border:not(.collapsed):not(.sub-btn-dropdown) {
      box-shadow: $dropdown-box-shadow-active;
    }

    > .collapse.show,
    > .collapsing {
      display: block;
      transition: none;
      overflow: visible;
      height: auto !important;
    }
  }

  &:has(.btn-dropdown.collapsed) {
    &:has(> .collapsing) {
      .collapsing {
        display: none;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    margin-top: spaceUnits(2);
    border: 0;
    border-radius: spaceUnits(2);
    box-shadow: $dropdown-box-shadow;
    max-width: 340px;
    min-width: 340px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      min-width: 250px;
    }

    .dropdown-item {
      border-radius: spaceUnits(2);
      padding: $dropdown-item-padding;
      color: $body-color;
      line-height: 24px;
      white-space: normal;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.75rem;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      .item-text {
        flex-grow: 1;
      }

      .bx,
      .material-icons-round {
        font-size: 1.5rem;
      }

      &.disabled,
      &[disabled] {
        color: $grisulado-300;
        pointer-events: none;
      }

      &:hover {
        background-color: $white;
        border-radius: spaceUnits(2);
        box-shadow: $dropdown-box-shadow-active;
        color: $blue;

        .item-text {
          text-decoration: underline;
        }
      }

      &:focus {
        box-shadow: $dropdown-box-shadow-focus;
        border-radius: spaceUnits(2);
        outline: 2px;
        background: $white;
        color: $grisulado-900;

        &:hover {
          color: $blue;

          &:active {
            color: $white;
          }
        }
      }

      &.active,
      &:active {
        color: $white;
        background: $blue;
        border-radius: spaceUnits(2);
        text-decoration: none;
        box-shadow: none;
      }

      &.item-danger {
        color: $danger;

        &:hover {
          box-shadow: 0 0 0 2px $danger;
          color: $danger;

          .item-text {
            text-decoration: underline;
          }
        }

        &:focus {
          &:hover {
            box-shadow: $dropdown-box-shadow-focus;
            color: $danger;

            .item-text {
              text-decoration: underline;
            }

            &:active {
              color: $white;
              box-shadow: none;
            }
          }
        }

        &:active {
          color: $white;
          background-color: $danger;
        }

        &.disabled,
        &[disabled] {
          color: $grisulado-300;
          pointer-events: none;
        }
      }
    }

    &.dropdown-menu-right {
      .dropdown-item .item-text,
      .sub-dropdown > .btn.sub-btn-dropdown .item-text {
        text-align: right;
      }
    }

    .sub-dropdown {
      width: 100%;

      > .btn.sub-btn-dropdown {
        width: 100%;
        justify-content: space-between;
        gap: 0.75rem;
        border: none;
        white-space: normal;
        font-size: $font-size-base;
        font-family: $font-family-sans-serif;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        &[aria-expanded='true'] {
          background-color: $grisulado-10;
          color: $grisulado-900;
        }

        .item-text {
          flex-grow: 1;
          text-align: left;
        }

        @include media-breakpoint-up(md) {
          .btn-dropdown-icon {
            transform: rotate(-90deg);
          }
        }
      }

      &:has(.sub-dropdown-menu.dropdown-menu-right) {
        @include media-breakpoint-up(md) {
          .btn-dropdown-icon {
            transform: rotate(90deg);
          }
        }
      }

      .sub-dropdown-menu {
        position: static !important;
        transform: none !important;
        box-shadow: none;
        margin: 0.25rem 0;

        .sub-item {
          @extend .dropdown-item;

          @include media-breakpoint-down(sm) {
            padding-left: 2rem !important;
          }
        }

        @include media-breakpoint-up(md) {
          box-shadow: $dropdown-box-shadow;
          margin: 0;
          position: absolute !important;
          top: 0;
          left: unset !important;
          right: -348px;

          &.dropdown-menu-right {
            right: 348px;

            .btn-dropdown-icon {
              transform: rotate(90deg);
            }
          }
        }
      }

      &.dropdown-menu-right {
        .dropdown-item .item-text {
          text-align: right;

          @include media-breakpoint-down(sm) {
            text-align: left;
          }
        }
      }
    }

    &.dropdown-body {
      background: white;

      .custom-checkbox {
        margin-bottom: 0.25rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .custom-control-input {
          left: 12px;
          top: 8px;

          &:focus ~ .custom-control-label {
            box-shadow: $dropdown-box-shadow-focus;
          }
        }

        .custom-control-label {
          width: 100%;
          min-height: 2.5rem;
          margin: 0;
          display: flex;
          align-items: center;
          word-break: break-word;
          padding: $dropdown-item-padding;
          padding-left: $dropdown-item-padding-left-checkbox;

          &::before {
            background-color: $white;
            top: 8px;
            left: 12px;
          }

          &::after {
            background-image: none; /* Inicialmente no mostrar el icono */
            top: 8px;
            left: 12px;
          }
        }
      }

      .custom-control-input:checked ~ .custom-control-label {
        background-color: $blue;
        color: white;
      }

      .custom-control-input:not(:disabled) ~ .custom-control-label {
        backface-visibility: hidden;

        &:hover {
          box-shadow: $dropdown-box-shadow-active;
          backface-visibility: visible;
        }
      }

      .custom-checkbox {
        .custom-control-input:checked ~ .custom-control-label::after {
          background-image: $custom-checkbox-dropdown;
          background-size: auto;
          width: 1.5rem;
          height: 1.5rem;
        }

        .custom-control-input:checked:hover ~ .custom-control-label {
          color: $white;
          text-decoration: underline;
          text-decoration-thickness: 1px;

          &:before {
            background-color: $white;
            border-color: $blue;
          }
        }

        &:has(.custom-control-input:focus) {
          .custom-control-label {
            box-shadow: $dropdown-box-shadow-focus;

            &:before {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }

      .custom-radio {
        margin-bottom: 0.25rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.btn,
        .btn-chip {
          // Estilos de btn-chip para radio
          margin: 0;
          min-height: 2.5rem;

          &:not(.disabled):has(.btn-check:focus) {
            box-shadow: $dropdown-box-shadow-focus;

            &:before {
              box-shadow: none;
              outline: none;
            }
          }
        }
      }

      .btn-chip {
        //estilos generales de btn-chip
        width: 100%;
        min-height: 3rem;
        text-align: start;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background: $white;
        font-size: $font-size-base;
        font-family: $font-family-sans-serif;
        padding: $dropdown-item-padding;
        border: none;

        .bx,
        .material-icons-round {
          display: none;
          font-size: 1.5rem;
        }

        &.active {
          background: $blue;

          .bx,
          .material-icons-round {
            display: block;
          }
        }

        &:hover {
          .btn-chip-text {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &.dropdown-form {
    .btn-dropdown {
      display: flex;
      justify-content: space-between;
      max-width: 340px;

      .btn-dropdown-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-self: center;
      }

      @include media-breakpoint-down(sm) {
        max-width: 250px;
      }
    }

    .btn-dropdown-sm + .dropdown-menu {
      @include dropdown-menu-style-sm();
    }

    .btn-dropdown-lg + .dropdown-menu {
      @include dropdown-menu-style-lg();
    }

    .dropdown-menu {
      width: 100%;

      .custom-control:last-child {
        .btn-chip {
          margin-bottom: 0;
        }
      }
    }
  }
}
