/* === Variable and mixins overides === */

$dropdown-box-shadow: 0 0 spaceUnits(3) transparentize($grisulado-100, 0.25);
$dropdown-item-padding: spaceUnits(2) spaceUnits(2);

$icon-user: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: rgba(56, 72, 92, 1);transform: ;msFilter:;"><path d="M7.5 6.5C7.5 8.981 9.519 11 12 11s4.5-2.019 4.5-4.5S14.481 2 12 2 7.5 4.019 7.5 6.5zM20 21h1v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h17z"></path></svg>');
$icon-chevron-down: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%2338485c%22%3E%3Cpath%20d%3D%22M24%2024H0V0h24v24z%22%20fill%3D%22none%22%20opacity%3D%22.87%22%2F%3E%3Cpath%20d%3D%22M15.88%209.29L12%2013.17%208.12%209.29c-.39-.39-1.02-.39-1.41%200-.39.39-.39%201.02%200%201.41l4.59%204.59c.39.39%201.02.39%201.41%200l4.59-4.59c.39-.39.39-1.02%200-1.41-.39-.38-1.03-.39-1.42%200z%22%2F%3E%3C%2Fsvg%3E');
$icon-chevron-down-white: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M24%2024H0V0h24v24z%22%20fill%3D%22none%22%20opacity%3D%22.87%22%2F%3E%3Cpath%20d%3D%22M15.88%209.29L12%2013.17%208.12%209.29c-.39-.39-1.02-.39-1.41%200-.39.39-.39%201.02%200%201.41l4.59%204.59c.39.39%201.02.39%201.41%200l4.59-4.59c.39-.39.39-1.02%200-1.41-.39-.38-1.03-.39-1.42%200z%22%2F%3E%3C%2Fsvg%3E');
$icon-chevron-down-hover: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224px%22%20fill%3D%22%23007bc7%22%3E%3Cpath%20d%3D%22M24%2024H0V0h24v24z%22%20fill%3D%22none%22%20opacity%3D%22.87%22%2F%3E%3Cpath%20d%3D%22M15.88%209.29L12%2013.17%208.12%209.29c-.39-.39-1.02-.39-1.41%200-.39.39-.39%201.02%200%201.41l4.59%204.59c.39.39%201.02.39%201.41%200l4.59-4.59c.39-.39.39-1.02%200-1.41-.39-.38-1.03-.39-1.42%200z%22%2F%3E%3C%2Fsvg%3E');
$icon-world: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill: rgba(56, 72, 92, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM4 12c0-.899.156-1.762.431-2.569L6 11l2 2v2l2 2 1 1v1.931C7.061 19.436 4 16.072 4 12zm14.33 4.873C17.677 16.347 16.687 16 16 16v-1a2 2 0 0 0-2-2h-4v-3a2 2 0 0 0 2-2V7h1a2 2 0 0 0 2-2v-.411C17.928 5.778 20 8.65 20 12a7.947 7.947 0 0 1-1.67 4.873z"></path></svg>');

$animation-toggle: transform 0.2s ease-in-out;

/* === Bootstrap Import === */
@import 'node_modules/bootstrap/scss/dropdown';

/* === Custom styles === */

//Mixin styles dropdown form
@mixin dropdown-menu-style-sm() {
  .custom-control-label, .dropdown-item {
    min-height: 1.875rem;
    padding: 0 0.75rem 0 3rem;

    &::before {
      top: 0.4rem;
    }
  }
  .dropdown-item {
    padding: 0rem 0.5rem;
  }

  .custom-checkbox {
    .custom-control-input:checked ~ .custom-control-label::after {
      width: 46px;
      height: 50px;
      top: -0.6rem;
      left: -0.1rem;
    }
  }

  .btn,
  .btn-chip {
    min-height: 1.875rem;
    padding: 0rem 0.75rem;
  }
}

@mixin dropdown-menu-style-lg() {
  .custom-control-label, .dropdown-item {
    min-height: 3rem;

    &::before {
      top: 0.9rem;
    }
  }

  .custom-checkbox {
    .custom-control-input:checked ~ .custom-control-label::after {
      top: 0.3rem;
      left: 0.15rem;
    }
  }

  .btn,
  .btn-chip {
    min-height: 3em;
  }

  .custom-control {
    min-height: 1.875rem;
  }
}
//fin Mixin styles dropdown form

.dropdown {
  width: fit-content;

// Estilos generales de dropdown menu show
  &.show {
    .btn {
      &.btn-dropdown {

        &.dropdown-toggle:after {
          content: $icon-chevron-down-white;
          transform: rotate(180deg);
          transition: $animation-toggle;
          height: 1.3em;
        }

        &:focus {
          box-shadow: none;

          &.btn-dropdown-border {
            box-shadow: 0 0 0 2px #e6ebf0;
          }

          background-color: $blue;
          color: $white;

          &:hover {
            color: $white;

            &.dropdown-toggle:after {
              content: $icon-chevron-down-white;
            }
          }
        }

        &:active {
          &.dropdown-toggle:after {
            content: $icon-chevron-down-white;
          }
        }
      }
    }
  }

  .btn {
    &.dropdown-chevron {
      padding: 2px;

      &:hover {
        background-color: transparent;
        border-radius: spaceUnits(2);
      }
    }

    &.btn-dropdown {
      font-weight: $body-font-weight;
      border: 2px solid transparent;
      background-color: $white;
      max-height: 40px;
      font-size: 1.125rem;
      line-height: 1;
      padding: 0.5rem 0.75rem;
      display: flex;
      align-items: center;

      .bx,
      .material-icons-round {
        font-size: 1.5rem;
        align-self: end;
      }

      &-sm {
        max-height: 30px;
        padding: 0.1875rem 0.75rem;
        .bx,
        .material-icons-round {
          font-size: 21px ;
        }

        + .dropdown-menu {
          @include dropdown-menu-style-sm();
        }
      }

      &-lg {
        padding: 0.75rem;
        max-height: 48px;

        + .dropdown-menu {
          @include dropdown-menu-style-lg();
        }
      }

      &.btn-dropdown-border {
        box-shadow: 0 0 0 2px #e6ebf0;
        border-radius: spaceUnits(2);
      }

      &:hover {
        border-radius: spaceUnits(2);
        box-shadow: 0 0 0 2px $blue;
        text-decoration: none;
        color: $blue;

        &.dropdown-toggle:after {
          content: $icon-chevron-down-hover;
        }
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem #005387;
        background: $white;
        text-decoration: none;
        border-radius: spaceUnits(2);

        &:hover {
          color: $grisulado-900;

          &.dropdown-toggle:after {
            content: $icon-chevron-down;
          }
        }
      }

      &.active,
      &:active {
        color: $white;
        background: $blue;
        border-radius: spaceUnits(2);
        text-decoration: none;
        box-shadow: none;

        &.dropdown-toggle:after {
          content: $icon-chevron-down-white;
        }

        &:hover {
          color: $white;
          text-decoration: none;

          &.dropdown-toggle:after {
            content: $icon-chevron-down-white;
          }
        }
      }

      &.dropdown-toggle:after {
        content: $icon-chevron-down;
        display: inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        transition: $animation-toggle;
        margin-left: 0.25rem;
      }

      .dropdown-user-icon {
        content: $icon-user;
        display: inline-block;
        background-color: $grisulado-50;
        margin-left: spaceUnits(2);
        vertical-align: middle;
        border-radius: $border-radius;
        width: 1.4rem;
        padding: 0.2rem;
      }

      .dropdown-language-icon {
        content: $icon-world;
        display: inline-block;
        vertical-align: middle;
        margin: 0px 0px 0.125rem 0.25rem;
      }

      .dropdown-toggle {
        color: $grisulado-900;
      }
    }
  }

  .dropdown-menu {
    padding: 0;
    margin-top: spaceUnits(2);
    border: 0;
    border-radius: spaceUnits(2);
    box-shadow: 0 0 0 2px #e6ebf0 !important;
    max-width: 340px;
    min-width: 340px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      min-width: 250px;
    }

    .dropdown-item {
      border-radius: $border-radius;
      padding: $dropdown-item-padding;
      color: $body-color;
      white-space: normal;
      text-decoration: none;
      word-break: break-all;
      align-items: center;
      display: flex;

      &:hover {
        background-color: $white;
        border-radius: spaceUnits(2);
        box-shadow: 0 0 0 2px $blue;
        color: $blue;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem #005387;
        border-radius: spaceUnits(2);
        outline: 2px;
        color: $blue;
        background:white ;
      }

      &.active,
      &:active {
        color: $white;
        background: $blue;
        border-radius: spaceUnits(2);
        text-decoration: none;
        box-shadow: none;
      }
    }

    &.dropdown-body {
      background: white;

      .custom-checkbox {
        margin-bottom: 0.25rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .custom-control-label {
          width: 100%;
          min-height: 2.5rem;
          margin: 0;
          display: flex;
          align-items: center;
          word-break: break-word;
          padding-left: 3rem;

          &::before {
            background-color: $white;
            top: 0.68rem;
          }

          &::after {
            background-image: none; /* Inicialmente no mostrar el icono */
            top: 0.9rem;
          }
        }
      }

      .custom-control-input:checked ~ .custom-control-label {
        background-color: $blue;
        color: white;
      }

      .custom-checkbox {
        .custom-control-input:checked ~ .custom-control-label::after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 24 24' style='fill: rgba(0, 123, 199, 1);transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
          width: 40px;
          height: 40px;
          top: 0rem;
          left: 0.1rem;
        }
      }

      .custom-radio {
        margin-bottom: 0.25rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        &.btn,
        .btn-chip { //estilos de btn-chip para radio
          margin: 0;
          min-height: 2.5rem;
        }
      }

      .btn-chip { //estilos generales de btn-chip
        width: 100%;
        min-height: 3rem;
        text-align: start;
        align-items: center;
        display: flex;
        justify-content: space-between;
        background: $white;

        .bx,
        .material-icons-round {
          display: none;
          font-size: 1.5rem;
        }

        &.active {
          background: $blue;

          .bx,
          .material-icons-round {
            display: block;
          }
        }
      }
    }
  }

  &.dropdown-form {

    .btn-dropdown {
      display: flex;
      justify-content: space-between;
      max-width: 340px;

      .material-icons-round {
        align-self: end;
      }
      .bx {
        align-self: center;
      }

      .bx,
      .material-icons-round {
        margin-right: 0.25rem;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        align-self: center;
      }
    }

    .btn-dropdown-sm + .dropdown-menu {
      @include dropdown-menu-style-sm();
    }

    .btn-dropdown-lg + .dropdown-menu {
      @include dropdown-menu-style-lg();
    }

    .dropdown-menu {
      width: 100%;

      .custom-control:last-child {
        .btn-chip {
          margin-bottom: 0;
        }
      }
    }
  }
}
