/* === Custom variables and mixins === */

$footer-padding-y: spaceUnits(10);
$footer-legal-margin-bottom: spaceUnits(10);

$footer-padding-y-sm: spaceUnits(8);
$footer-legal-margin-bottom-sm: spaceUnits(6);

$footer-border-width: spaceUnits(1);
$footer-border-color: $yellow;

$footer-link-separation: spaceUnits(4);
$footer-link-separation-phone: spaceUnits(4);
$footer-link-separation-redes: spaceUnits(4);
$footer-icon-separation: spaceUnits(1);
$footer-icon-size: spaceUnits(6);

$footer-icon-height-vamos-ba: 2.375rem;
$footer-icon-height-vamos-ba-sm: 3rem;

$divider-margin: 2.5rem 0 2.5rem;
$divider-border: 0.125rem solid $grisulado-700;

$divider-margin-mobile: 2rem 0 2rem;

$footer-info-padding: 1.5rem 0;
$footer-info-gap: 2rem;
$footer-info-gap-mobile: 1rem;

/* === Custom styles === */

.main-footer {
  @extend .bg-dark, .text-white;
  padding: $footer-padding-y 0;
  border-top: $footer-border-width solid $footer-border-color;

  @include media-breakpoint-down(sm) {
    padding: $footer-padding-y-sm 0;
  }

  h4 {
    margin-bottom: spaceUnits(2);

    @include media-breakpoint-down(sm) {
      margin-bottom: spaceUnits(4);
    }
  }

  a {
    @extend .text-white;
    text-decoration: underline;

    &:focus,
    &.focus {
      box-shadow: 0 0 0 2px white;
    }

    &:visited {
      @extend .text-white;
    }

    .bx {
      font-size: $footer-icon-size;
      vertical-align: middle;
      margin-right: $footer-icon-separation;
    }
  }

  section {
    margin-bottom: $footer-padding-y;

    @include media-breakpoint-down(sm) {
      margin-bottom: $footer-padding-y-sm;
    }

    &.footer-legal-section {
      margin-bottom: $footer-legal-margin-bottom;

      @include media-breakpoint-down(sm) {
        margin-bottom: 1.5rem;
      }

      .list-inline {
        margin-bottom: 0;
      }

      .footer-content-img {
        display: flex;
        gap: 2rem;
        margin-bottom: $footer-legal-margin-bottom;

        @include media-breakpoint-down(sm) {
          flex-wrap: wrap;
          margin-bottom: $footer-legal-margin-bottom-sm;
        }

        .img-vamos-ba {
          height: $footer-icon-height-vamos-ba;

          @include media-breakpoint-down(md) {
            height: $footer-icon-height-vamos-ba-sm;
          }
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .list-inline .list-inline-item {
    margin-right: $footer-link-separation;

    &.phone-items {
      margin-right: $footer-link-separation-phone;
      font-weight: 400;
    }

    &.redes-items {
      margin-right: $footer-link-separation-redes;
    }

    &:last-of-type {
      margin-right: 0;
    }

    @include media-breakpoint-down(sm) {
      display: block;
      margin-bottom: spaceUnits(4);
    }
  }

  .footer-license-text {
    @extend .text-xs;
  }

  .divider {
    border-top: $divider-border;
    margin: $divider-margin;

    @include media-breakpoint-down(sm) {
      margin: $divider-margin-mobile;
    }
  }
}

.footer-info {
  background-color: $grisulado-10;
  padding: $footer-info-padding;
  word-break: break-word;

  > .container {
    &:has(.footer-info-text),
    &:has(.footer-info-actions) {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      gap: $footer-info-gap;
    }

    .footer-info-text {
      margin: 0;
    }

    .footer-info-actions {
      flex-basis: 50%;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      gap: 1rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &:has(.footer-info-text),
    &:has(.footer-info-actions) {
      .container {
        flex-wrap: wrap;
        gap: $footer-info-gap-mobile;

        .footer-info-text {
          font-weight: 700;
        }
        .footer-info-actions {
          flex-basis: 100%;
          flex-shrink: 1;
          gap: 0.5rem;
          align-items: flex-start;
        }
      }
    }
  }
}
