/* === Variable and mixins overides === */

$input-bg: $light;
$custom-select-bg: $input-bg;
$input-placeholder-color: $grisulado-300;

$input-disabled-color: $grisulado-400;
$input-disabled-bg: $grisulado-50;

$label-margin-bottom: spaceUnits(1);

$custom-select-disabled-color: $input-disabled-color;
$custom-select-disabled-bg: $input-disabled-bg;

$custom-control-indicator-checked-color: $grisulado-900;
$custom-control-indicator-active-color: $grisulado-900;

$input-focus-border-color: $input-disabled-color;
$input-focus-box-shadow: $focus-box-shadow;

$custom-control-indicator-size: spaceUnits(5);
$custom-control-indicator-bg: transparent;
$custom-control-indicator-border-color: $grisulado-900;
$custom-control-indicator-border-width: 3px;
$custom-control-indicator-checked-bg: transparent;
$custom-control-indicator-checked-border-color: $grisulado-900;
$custom-control-indicator-focus-border-color: $grisulado-900;
$custom-control-indicator-active-bg: transparent;
$custom-control-indicator-active-border-color: $grisulado-900;
$custom-control-indicator-checked-disabled-bg: transparent;
$custom-control-indicator-disabled-bg: transparent;

$form-icons: (
  'search':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(56, 72, 92, 1);transform: ;msFilter:;"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>')
);

// Some configuration is inside ../_colors.scs

$form-validation-states: (
  'valid': (
    'color': $form-feedback-valid-color,
    'icon': none
  ),
  'invalid': (
    'color': $form-feedback-invalid-color,
    'icon': none
  )
);

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';

/* === Custom styles === */

.form-group label {
  font-size: $font-size-sm;
  margin-bottom: $label-margin-bottom;
}

.custom-control-label {
  padding: spaceUnits(1);
  padding-left: $custom-control-indicator-size + spaceUnits(6);
  padding-right: spaceUnits(3);
  margin-bottom: spaceUnits(3);
  border-radius: $border-radius * 2;

  &::before {
    left: spaceUnits(3);
    top: spaceUnits(1.5);
  }

  &::after {
    left: spaceUnits(3);
    top: spaceUnits(1.5);
  }
}

@mixin form-icon($type) {
  background-image: map-get($form-icons, $type);
  background-repeat: no-repeat;
  background-position: center right spaceUnits(2);
}

.form-control {
  &.input-search {
    @include form-icon('search');
    &:hover,
    &:focus {
      background: none;
    }
  }
}

.custom-control-input {
  &:not(:disabled) ~ .custom-control-label {
    cursor: pointer;

    &:hover {
      background-color: $light;
    }
  }
  &:not(:disabled):focus ~ .custom-control-label {
    box-shadow: $input-focus-box-shadow;

    &:before {
      box-shadow: none;
    }
  }

  &:disabled ~ .custom-control-label {
    color: $custom-select-disabled-color;

    &:before {
      border-color: $input-disabled-color;
    }
  }
}

.bg-light {
  .form-control,
  .custom-select {
    &:not(:disabled) {
      background-color: $white;
    }
  }
  .custom-control-input:not(:disabled) ~ .custom-control-label:hover {
    background-color: $white;
  }
}
