/* === Variable and mixins overides === */

$input-bg: $light;
$custom-select-bg: $input-bg;
$input-placeholder-color: $grisulado-300;

$input-disabled-color: $grisulado-300;
$input-disabled-bg: $grisulado-10;

$label-margin-bottom: 0;
$label-font-weight: 600;

$input-border-color: $grisulado-50;
$input-border-width: 2px;
$input-box-shadow: 0 0 0 $input-border-width $input-border-color;

$input-height: 48px;
$input-border-radius: $border-radius-lg;

$custom-select-height: $input-height;
$custom-select-disabled-color: $input-disabled-color;
$custom-select-disabled-bg: $input-disabled-bg;

$input-focus-border-color: $input-disabled-color;
$input-focus-box-shadow: $focus-box-shadow;

$input-height-sm: 40px;

$custom-control-indicator-checked-color: $blue;
$custom-control-indicator-active-color: $blue;
$custom-control-indicator-size: spaceUnits(5);
$custom-control-indicator-bg: transparent;
$custom-control-indicator-border-color: $grisulado-900;
$custom-control-indicator-border-width: 2px;
$custom-control-indicator-checked-bg: $blue;
$custom-control-indicator-checked-border-color: $blue;
$custom-control-indicator-focus-border-color: $grisulado-900;
$custom-control-indicator-active-bg: $blue;
$custom-control-indicator-active-border-color: $blue;
$custom-control-indicator-checked-disabled-bg: transparent;
$custom-control-indicator-disabled-bg: transparent;

$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'><path fill='#{$white}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/></svg>");

$input-validation-focus-width: $input-border-width;

$form-text-margin-top: 0;
$form-text-margin-bottom: spaceUnits(1);

$form-icons: (
  'search':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(56, 72, 92, 1);transform: ;msFilter:;"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg>'),
  'valid':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: rgba(38, 135, 74, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm-1.999 14.413-3.713-3.705L7.7 11.292l2.299 2.295 5.294-5.294 1.414 1.414-6.706 6.706z"></path></svg>'),
  'invalid':
    url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: rgba(201, 59, 59, 1);transform: ;msFilter:;"><path d="M11.953 2C6.465 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.493 2 11.953 2zM13 17h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg>')
);

// Some configuration is inside ../_colors.scs

$form-validation-states: (
  'valid': (
    'color': $form-feedback-valid-color,
    'icon': none
  ),
  'invalid': (
    'color': $form-feedback-invalid-color,
    'icon': none
  )
);

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/custom-forms';

/* === Custom styles === */

.form-search {
  height: $input-height;

  &-sm {
    height: 44px;
  }
}

.form-group {
  label {
    margin-bottom: $label-margin-bottom;
    font-weight: $label-font-weight;
  }

  &.disabled  {
    label, .form-control, .reset {
      color: $input-disabled-color;
      pointer-events: none;
    }
  }

  .input-search,
  input[type='search'],
  .reset {
    vertical-align: middle;
  }

  .reset {
    display: block;
    cursor: pointer;

    &::after {
      content: '|';
      font-size: 1.5rem;
      color: $grisulado-100;
      position: relative;
      top: -2px;
      left: 15px;
    }
  }
}

.custom-control-label {
  padding: spaceUnits(1);
  padding-left: $custom-control-indicator-size + spaceUnits(5);
  padding-right: spaceUnits(3);
  margin-bottom: spaceUnits(2);
  border-radius: $border-radius * 2;

  &::before {
    left: spaceUnits(3);
    top: spaceUnits(1.5);
  }

  &::after {
    left: spaceUnits(3);
    top: spaceUnits(1.5);
  }
}

@mixin form-icon($type) {
  background-image: map-get($form-icons, $type);
  background-repeat: no-repeat;
  background-position: center right spaceUnits(2);
}

.form-control,
.custom-select {
  transition: none;
  border: none;
  border-radius: $border-radius-lg;
  box-shadow: $input-box-shadow;
  margin: $input-border-width;
  width: calc(100% - #{$input-border-width * 2});

  &:focus {
    background-color: $input-bg;
    box-shadow: $input-focus-box-shadow;
  }

  &.input-search {
    @include form-icon('search');

    &[type='search']::-webkit-search-cancel-button {
      display: none;
    }

    &[type='search']:invalid ~ .reset[type='reset'] {
      display: none;
    }

    &[type='search']:placeholder-shown {
      ~ .reset {
        display: none;
      }
    }

    &[type='search'] ~ .reset[type='reset'] {
      border: none;
      position: relative;
      left: calc(83%);
      top: -45px;
      background: transparent
        url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>')
        no-repeat center center;
    }

    &.form-control-sm {
      &[type='search'] ~ .reset[type='reset'] {
        top: -42px;
        left: calc(100% - 66px);
      }
    }
  }

  &.is-valid,
  &.is-invalid {
    border: none;

    &:focus {
      box-shadow: 0 0 0 $focus-width $focus-color;
    }
  }

  &.is-valid {
    box-shadow: 0 0 0 $input-validation-focus-width $success;
  }
  &.is-invalid {
    box-shadow: 0 0 0 $input-validation-focus-width $danger;
  }

  &:disabled,
  &[readonly] {
    color: $input-disabled-color;
    pointer-events: none;
  }
}

.form-text {
  margin-bottom: $form-text-margin-bottom;
}

.valid-feedback,
.invalid-feedback {
  margin-top: spaceUnits(2);
}

.valid-feedback::before {
  content: map-get($form-icons, 'valid');
  vertical-align: middle;
  margin-right: spaceUnits(1);
}
.invalid-feedback::before {
  content: map-get($form-icons, 'invalid');
  vertical-align: middle;
  margin-right: spaceUnits(1);
}

// Custom controls

.custom-control {
  padding-left: 0;
}

.custom-control-input {
  &:not(:disabled) ~ .custom-control-label {
    cursor: pointer;

    &:hover {
      color: $custom-control-indicator-active-color;
      text-decoration: underline;

      &:before {
        border-color: $custom-control-indicator-active-color;
      }
    }
  }
  &:not(:disabled):focus ~ .custom-control-label {
    box-shadow: $input-focus-box-shadow;

    &:before {
      box-shadow: none;
    }
  }

  &:disabled ~ .custom-control-label {
    color: $custom-select-disabled-color;
    pointer-events: none;

    &:before {
      border-color: $input-disabled-color;
    }
  }
}

// Radios
.custom-radio {
  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      background: transparent;
    }

    &::after {
      background-image: none;
      width: 10px;
      height: 10px;
      margin: 5px;
      background-color: $custom-control-indicator-checked-color;
      border-radius: 100%;
    }
  }
}

.bg-light {
  .form-control,
  .custom-select {
    &:not(:disabled) {
      background-color: $white;
    }
  }
}

// Checkbox button
.btn-chip {
  font-weight: normal;
  background-color: $grisulado-10;
  
  @include btn-disabled;

  @include hover() {
    background-color: $grisulado-10;
    color: $link-color;
    text-decoration: underline;
    box-shadow: 0 0 0 $btn-hover-width $blue;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $input-btn-focus-width $box-shadow-button;
    text-decoration: none;
  }

}

.btn-check {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;

  &:active, &:checked + .btn-chip {
    color: #fff;
    background-color: $blue;
    box-shadow: none;    
  }
}