/* === Variable and mixins overides === */

$carousel-control-padding: spaceUnits(3);
$carousel-control-icon-size: spaceUnits(6);
$carousel-control-size: $carousel-control-icon-size + $carousel-control-padding * 2;
$carousel-control-border-radius: 100%;

$carousel-control-space-x-mobile: $carousel-control-size * 0.25;
$carousel-control-space-top-mobile: spaceUnits(25);

$carousel-control-space-x: $carousel-control-size * -1.5;
$carousel-control-space-top: spaceUnits(50);

$accordion-icon-color: svgColor($grisulado-900);
$carousel-control-prev-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #{$accordion-icon-color};transform: ;msFilter:;"><path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path></svg>');
$carousel-control-next-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #{$accordion-icon-color};transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>');

$carousel-close-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" style="fill: #{$accordion-icon-color};transform: ;msFilter:;"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>');
$carousel-margin-bottom: spaceUnits(4);

/* === Custom variables and mixins === */

@mixin makeGrid($images) {
  @if $images == 1 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
  }
  @if $images == 2 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 2 / 5;
    }
  }
  @if $images == 3 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 2 / 2;
    }
    &:nth-child(3) {
      grid-area: 2 / 3 / 3 / 5;
    }
  }
  @if $images == 3 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 2 / 3;
    }
    &:nth-child(3) {
      grid-area: 2 / 3 / 2 / 5;
    }
  }
  @if $images == 4 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 2 / 5;
    }
    &:nth-child(3) {
      grid-area: 3 / 1 / 4 / 3;
    }
    &:nth-child(4) {
      grid-area: 3 / 3 / 4 / 5;
    }
  }
  @if $images == 5 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 2 / 2;
    }
    &:nth-child(3) {
      grid-area: 2 / 2 / 2 / 3;
    }
    &:nth-child(4) {
      grid-area: 2 / 3 / 2 / 4;
    }
    &:nth-child(5) {
      grid-area: 2 / 4 / 2 / 5;
    }
  }
  @if $images == 6 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 3 / 5;
    }
    &:nth-child(3) {
      grid-area: 3 / 1 / 3 / 2;
    }
    &:nth-child(4) {
      grid-area: 3 / 2 / 3 / 3;
    }
    &:nth-child(5) {
      grid-area: 3 / 3 / 3 / 4;
    }
    &:nth-child(6) {
      grid-area: 3 / 4 / 3 / 5;
    }
  }
  @if $images == 7 {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 5;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 3 / 3;
    }
    &:nth-child(3) {
      grid-area: 2 / 3 / 3 / 5;
    }
    &:nth-child(4) {
      grid-area: 3 / 1 / 4 / 2;
    }
    &:nth-child(5) {
      grid-area: 3 / 2 / 4 / 3;
    }
    &:nth-child(6) {
      grid-area: 3 / 3 / 4 / 4;
    }
    &:nth-child(7) {
      grid-area: 3 / 4 / 4 / 5;
    }
  }
}

/* === Bootstrap Import === */

@import '~bootstrap/scss/carousel';

/* === Custom styles === */

.carousel-control-prev,
.carousel-control-next {
  display: block;
  width: $carousel-control-size;
  height: $carousel-control-size;
  padding: $carousel-control-padding;
  background: $grisulado-50;
  top: $carousel-control-space-top-mobile;
  border-radius: $carousel-control-border-radius;
  opacity: 0.75;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: $carousel-control-icon-size;
  height: $carousel-control-icon-size;
}

.carousel-control-prev {
  left: $carousel-control-space-x-mobile;
  .carousel-control-prev-icon {
    background-image: $carousel-control-prev-icon;
  }
}

.carousel-control-next {
  right: $carousel-control-space-x-mobile;
  .carousel-control-next-icon {
    background-image: $carousel-control-next-icon;
  }
}

@include media-breakpoint-up(sm) {
  .carousel-control-prev,
  .carousel-control-next {
    top: $carousel-control-space-top;
    opacity: 1;
  }

  .carousel-control-prev {
    left: $carousel-control-space-x;
  }

  .carousel-control-next {
    right: $carousel-control-space-x;
  }
}

.carousel-inner {
  border-radius: $border-radius-lg;

  img {
    border-radius: $border-radius-lg;
  }
}

.carousel-caption {
  position: static;
  text-align: left;
  color: $body-color;
  top: 100%;
  padding-top: 0;
}

// Modal

.modal-carousel {
  background: $white;

  .modal-content {
    border: none;
  }

  .modal-carousel-close {
    text-align: right;
    margin-bottom: $carousel-margin-bottom;

    &:after {
      content: $carousel-close-icon;
      vertical-align: middle;
      line-height: 1em;
    }
  }
}

// Gallery grid

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content;
  grid-column-gap: $grid-gutter-width;
  grid-row-gap: $grid-gutter-width;

  .gallery-grid-item {
    > img {
      width: 100%;
      object-fit: cover;
      border-radius: $border-radius-lg;
    }
  }

  &.gallery-max-1 {
    .gallery-grid-item {
      @include makeGrid(1);
    }
  }

  &.gallery-max-2 {
    .gallery-grid-item {
      @include makeGrid(2);
    }
  }

  &.gallery-max-3 {
    .gallery-grid-item {
      @include makeGrid(3);
    }
  }

  &.gallery-max-4 {
    .gallery-grid-item {
      @include makeGrid(4);
    }
  }

  &.gallery-max-5 {
    .gallery-grid-item {
      @include makeGrid(5);
    }
  }

  &.gallery-max-6 {
    .gallery-grid-item {
      @include makeGrid(6);
    }
  }

  &.gallery-max-7 {
    .gallery-grid-item {
      @include makeGrid(7);
    }
  }
}
