.btn-ghost-link {
  font-weight: $btn-font-weight;
  color: #007bc7;

  @include hover() {
    background-color: $grisulado-50;
    color: #007bc7;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 $input-btn-focus-width theme-color-level('info', 3);
  }
}