/* === Variable and mixins overides === */

$list-informative-padding-left: 1.625rem;
$list-informative-icon-size: 1.5rem;
$list-informative-margin: 1rem;
$list-informative-padding: 1rem;
$list-informative-ul-margin: 0.625rem;
$list-informative-ol-margin: 0.5rem;
$list-informative-ul-position-left: 2.125rem;
$list-informative-ol-position-left: 2rem;

/* === Custom variables and mixins === */

@mixin list-informative-style-subtitle($tag) {
  display: grid;
  grid-template-columns: $list-informative-icon-size 100%;
  grid-column-gap: $list-informative-ul-margin;
  grid-area: 1 / 2 / 2 / 3;

  #{$tag} {
    margin-top: $list-informative-margin / 4;
    grid-area: 2 / 2 / 3 / 3;
  }
}

@mixin list-informative-style-icon($tag, $position-left, $icon-margin-right) {
  list-style: none;
  display: flex;
  position: relative;
  left: -$position-left;

  #{$tag} {
    font-size: $list-informative-icon-size;
    margin-right: $icon-margin-right;
  }
}

@mixin list-informative-style() {
  padding-left: $list-informative-padding-left;

  li {
    margin-bottom: $list-informative-margin;
    padding-left: $list-informative-padding / 2;

    &:last-child {
      margin-bottom: 0px;
    }

    &:has(i) {
      @include list-informative-style-icon('i', $list-informative-ul-position-left, $list-informative-ul-margin);
    }

    &:has(span) {
      @include list-informative-style-icon('span', $list-informative-ol-position-left, $list-informative-ol-margin );
    }

    &:has(p) {
      p {
        margin-top: $list-informative-margin / 4;
      }
    }

    &:has(small) {
      small {
        display: block;
        margin-top: $list-informative-margin / 4;
      }
    }

    &:has(i + small) {
      @include list-informative-style-subtitle('small');
    }

    &:has(i + p) {
      @include list-informative-style-subtitle('p');
    }

    &:has(span + small) {
      @include list-informative-style-subtitle('small');
    }

    &:has(span + p) {
      @include list-informative-style-subtitle('p');
    }
  }
}

/* === Custom styles === */

.list-informative-ul {
  @include list-informative-style();
}

.list-informative-ol {
  @include list-informative-style();
}

.unstyled {
  list-style-type: none;
}