$list-group-color: $grisulado-900;
$list-group-color-hover: $blue;
$list-group-border: 8px;

$padding-card-access-body: 1.5rem;
$padding-card-access-body-list: 1.5rem 1.5rem 0;
$padding-access-option-item-sm: 10px 1.5rem;
$padding-title-option: 1rem 1.5rem 0;
$padding-title-option-first-child: 0.5rem 1.5rem 0;
$font-size-icon-card: 2.5rem;
$card-size: 64px;
$font-title-option: 17px;

$box-shadow-access: 0 0 0 2px $grisulado-50;
$box-shadow-access-hover: 0 0 0 2px $blue;
$box-shadow-access-hover-danger: 0 0 0 2px $red;
$border-radius-card-item: 0 0 8px 8px;

$box-shadow-access-focus: 0 0 0 4px theme-color-level('info', 3);

$no-text-decoration: none;

$margin-clearfix: 1rem 1.5rem 0.8rem;
$border-clearfix: 2px solid $grisulado-50;

$list-gorup-padding-y: spaceUnits(6);
$list-gorup-padding-x: spaceUnits(4);

$list-gorup-category-margin: spaceUnits(2);

$list-group-icon-arrow: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgb(56, 72, 92);transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>');
$list-group-icon-arrow-hover: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 123, 199, 1);transform: ;msFilter:;"><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg>');
$list-group-icon-logout: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(201, 59, 59, 1);transform:rotate(180deg);msFilter:;"><path d="M16 13v-2H7V8l-5 4 5 4v-3z"></path><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"></path></svg>');

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin float-height-icon {
  float: right;
  height: 1.5rem;
}

/* === Bootstrap Import === */

// Eliminamos el color secundario para las alertas.
@import '~bootstrap/scss/list-group';

/* === Custom styles === */

a.list-group-item {
  text-decoration: $no-text-decoration;
  color: $list-group-color;
  border: none;
  box-shadow: $box-shadow-access;
  border-radius: $list-group-border;
  margin-bottom: 1rem;
  padding: $list-gorup-padding-y $list-gorup-padding-x;
  
  &:visited {
    color: $list-group-color;
  }

  &:first-child {
    border-radius: $list-group-border;
  }

  &:last-child {
    margin-bottom: 0px;
    border-radius: $list-group-border;
  }

  &.list-group-item-logout {
    box-shadow: $box-shadow-access-hover-danger;
    
    &:visited {
      color: $danger;
    }

    &.logout-sm {
      padding: 0.525rem 0.75rem;
      line-height: 1.45;
    }
  }

  &:hover,
  &.hover {
    box-shadow: $box-shadow-access-hover;
    color: $list-group-color-hover;

    &.list-group-item-logout {
      box-shadow: $box-shadow-access-hover-danger;
    }

    .access-title {
      text-decoration: underline;
    }

    .access-content {
      width: 100%;

      .access-title {
        color: $list-group-color-hover;
        text-decoration: underline;
      }

      .access-text {
        color: $list-group-color-hover;
        text-decoration: $no-text-decoration !important;
      }
    }

    &:after {
      content: $list-group-icon-arrow-hover;
      @include float-height-icon;
    }
  }

  &:focus,
  &.focus {
    box-shadow: $box-shadow-access-focus;
    background: $white;

    &:hover {
      color: $list-group-color;

      &.list-group-item-logout {
        color: $danger;
        box-shadow: $box-shadow-access-focus;
        &:after {
          content: $list-group-icon-logout;
        }
      }

      &:after {
        content: $list-group-icon-arrow;
        @include float-height-icon;
      }

      .access-title {
        text-decoration: $no-text-decoration;
      }
    }
  }

  &:after {
    content: $list-group-icon-arrow;
    @include float-height-icon;
  }

  &.list-group-item-logout {
    color: $danger;

    &:after {
      content: $list-group-icon-logout;
    }
  }

  &.item-sm {
    color: $list-group-color;
    padding: 1rem;
    @include display-flex-between;
    align-items: flex-start;

    &.descriptive-item {
      .access-title {
        color: $grisulado-900;
      }

      &:after {
        content: $list-group-icon-arrow;
        @include float-height-icon;
      }
    }

    &:hover,
    &.hover {
      box-shadow: $box-shadow-access-hover;
      color: $list-group-color-hover;
      text-decoration: $no-text-decoration;

      .access-content {
        width: 100%;

        .access-title {
          color: $list-group-color-hover;
          text-decoration: underline;
        }

        .access-text {
          color: $list-group-color-hover;
          text-decoration: $no-text-decoration;
        }
      }
    }

    &:focus, &.focus {
      box-shadow: $box-shadow-access-focus;
      color: $list-group-color;

      .access-title {
        color: $list-group-color;
        text-decoration: $no-text-decoration;
      }

      .access-content {
        .access-text, .access-title {
          color: $list-group-color;
          text-decoration: $no-text-decoration;
        }
      }
    }

    .access-content {
      width: 100%;

      .access-text {
        text-decoration: $no-text-decoration;
      }
    }

    .access-text {
      font-size: 13px;
      margin: 0;
    }
  }
}

.list-group {

  &.list-group-row {
    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 1rem;
    }

    .list-group-item {
      width: 100%;

      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  .list-group-title,
  .list-group-category {
    padding: $list-gorup-category-margin $list-gorup-padding-x;
    margin: 0;
  }
}

.group-access {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0px;
  }

  .card-access {
    width: 100%;
    box-shadow: $box-shadow-access;
    border-radius: $list-group-border;
    padding-bottom: 0;

    .card-access-body {
      padding: $padding-card-access-body;
      @include display-flex-between;

      &.p-list {
        padding: $padding-card-access-body-list;
      }

      .card-access-title {
        font-size: 19px;
        font-weight: 900;
        margin-top: 0.5rem;
      }

      .card-access-text {
        font-size: 13px;
        margin: 0;
      }

      .card-access-icon {
        font-size: $font-size-icon-card;
        background-color: #f3f6f9;
        width: $card-size;
        height: $card-size;
        border-radius: $list-group-border;
        text-align: center;
        line-height: $card-size;

        &.descriptive {
          color: $blue;
          font-size: 24px;
          font-weight: 900;
        }
      }

      &.reverse {
        gap: 15px;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
    }

    .container-access {
      .clearfix {
        margin: $margin-clearfix;
        border-top: $border-clearfix;
      }

      .access-option {
        .item-sm {
          box-shadow: none;
          padding: $padding-access-option-item-sm;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 13px;
          }

          &:hover,
          &.hover {
            box-shadow: $box-shadow-access-hover;
            color: $list-group-color-hover;

            &:after {
              content: $list-group-icon-arrow-hover;
              @include float-height-icon;
            }
          }

          &:focus,
          &.focus {
            box-shadow: $box-shadow-access-focus;
            background: $white;
            text-decoration: $no-text-decoration;

            &:after {
              content: $list-group-icon-arrow;
              @include float-height-icon;
            }
          }
        }

        .title-option {
          padding: $padding-title-option;
          font-size: $font-title-option;

          &:first-child {
            padding: $padding-title-option-first-child;
          }
        }
      }
    }

    .list-group-item {
      padding: $list-gorup-padding-y;
    }
  }

  .card-item {
    border-top: $box-shadow-access;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    margin-bottom: 0 !important;
    border-radius: $border-radius-card-item !important;
    @include display-flex-between;
  }
}

/* === Mobile styles === */
