/* === Custom variables and mixins === */

$list-group-color: $grisulado-900;
$list-group-color-hover: $blue;
$list-group-border: 8px;

$padding-card-access-body: 1.5rem;
$padding-card-access-body-list: 1.5rem 1.5rem 0;
$padding-access-option-item-sm: 0.75rem 1.5rem;
$padding-title-option: 1rem 1.5rem 0;
$padding-title-option-first-child: 0.5rem 1.5rem 0;
$font-size-icon-card: 1.722rem;
$card-size: 64px;
$font-title-option: 17px;

$box-shadow-access: 0 0 0 2px $grisulado-50;
$box-shadow-access-hover: 0 0 0 2px $blue;
$box-shadow-access-hover-danger: 0 0 0 2px $red;
$border-radius-card-item: 0 0 8px 8px;

$box-shadow-access-focus: 0 0 0 4px theme-color-level('info', 3);

$no-text-decoration: none;

$margin-clearfix: 1rem 1.5rem 0.8rem;
$border-clearfix: 2px solid $grisulado-50;

$list-group-padding-x: spaceUnits(4);

$list-group-category-margin: spaceUnits(2);

$list-group-icon-arrow: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgb(56, 72, 92);transform:;-ms-filter:"><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"></path></svg>');
$list-group-icon-arrow-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgb(0,123,199);transform:;-ms-filter:"><path d="M9.29 6.71c-.39.39-.39 1.02 0 1.41L13.17 12l-3.88 3.88c-.39.39-.39 1.02 0 1.41.39.39 1.02.39 1.41 0l4.59-4.59c.39-.39.39-1.02 0-1.41L10.7 6.7c-.38-.38-1.02-.38-1.41.01z"></path></svg>');
$list-group-icon-logout: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" style="fill: rgba(201, 59, 59, 1);msFilter:;"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><g><path d="M5,5h6c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H5C3.9,3,3,3.9,3,5v14c0,1.1,0.9,2,2,2h6c0.55,0,1-0.45,1-1v0 c0-0.55-0.45-1-1-1H5V5z"/><path d="M20.65,11.65l-2.79-2.79C17.54,8.54,17,8.76,17,9.21V11h-7c-0.55,0-1,0.45-1,1v0c0,0.55,0.45,1,1,1h7v1.79 c0,0.45,0.54,0.67,0.85,0.35l2.79-2.79C20.84,12.16,20.84,11.84,20.65,11.65z"/></g></g></svg>');

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin float-height-icon {
  float: right;
  height: 1.5rem;
}

/* === Bootstrap Import === */

// Eliminamos el color secundario para las alertas.
@import '~bootstrap/scss/list-group';

/* === Custom styles === */

a.list-group-item {
  text-decoration: $no-text-decoration;
  color: $list-group-color;
  border: none;
  box-shadow: $box-shadow-access;
  border-radius: $list-group-border;
  padding: 1.5rem;
  display: flex;
  @include media-breakpoint-down(xs) {
    padding: 1rem !important;
  }

  i,
  .material-icons-round {
    font-size: 1.25rem;
    align-self: center;
    margin-right: 0.875rem;
    vertical-align: middle;
  }

  &:not(.access-content) {
    > .access-title {
      width: 100%;
    }
  }

  .access-content {
    width: 100%;

    .access-text {
      font-size: 13px;
      margin: 0;
      text-decoration: $no-text-decoration;
    }
  }

  &:visited {
    color: $list-group-color;
  }

  &:first-child {
    border-radius: $list-group-border;
  }

  &:last-child {
    margin-bottom: 0px;
    border-radius: $list-group-border;
  }

  &:hover,
  &.hover {
    box-shadow: $box-shadow-access-hover;
    color: $list-group-color-hover;

    &.list-group-item-logout {
      box-shadow: $box-shadow-access-hover-danger;
    }

    .access-title {
      text-decoration: underline;
    }

    .access-content {
      width: 100%;

      .access-title {
        color: $list-group-color-hover;
        text-decoration: underline;
      }

      .access-text {
        color: $list-group-color-hover;
        text-decoration: $no-text-decoration !important;
      }
    }

    &:after {
      content: $list-group-icon-arrow-hover;
    }
  }

  &:focus,
  &.focus {
    box-shadow: $box-shadow-access-focus;
    background: $white;

    &:hover {
      color: $list-group-color;

      &.list-group-item-logout {
        color: $danger;
        box-shadow: $box-shadow-access-focus;
        &:after {
          content: $list-group-icon-logout;
        }
      }

      &:after {
        content: $list-group-icon-arrow;
        @include float-height-icon;
      }

      .access-content {
        .access-title,
        .access-text {
          color: $list-group-color;
          text-decoration: $no-text-decoration;
        }
      }

      .access-title {
        text-decoration: $no-text-decoration;
      }
    }
  }

  &:active,
  &.active {
    box-shadow: $box-shadow-access-focus;
    background-color: unset;

    &:not(:focus) {
      color: $list-group-color-hover;
    }

    &.list-group-item-logout {
      box-shadow: $box-shadow-access-hover-danger;
    }

    .access-title {
      text-decoration: underline;
    }

    .access-content {
      width: 100%;

      .access-title {
        color: $list-group-color-hover;
        text-decoration: underline;
      }

      .access-text {
        color: $list-group-color-hover;
        text-decoration: $no-text-decoration !important;
      }
    }

    &:after {
      content: $list-group-icon-arrow-hover;
    }
  }

  &:after {
    content: $list-group-icon-arrow;
    @include float-height-icon;
  }

  &.item-sm {
    color: $list-group-color;
    padding: 0.75rem 1.5rem;

    &:has(i, .material-icons-round) {
      @include media-breakpoint-down(xs) {
        padding: 0.5rem 1.125rem !important;
      }
    }

    &:hover,
    &.hover {
      box-shadow: $box-shadow-access-hover;
      color: $list-group-color-hover;
      text-decoration: $no-text-decoration;

      .access-content {
        width: 100%;

        .access-title {
          color: $list-group-color-hover;
          text-decoration: underline;
        }

        .access-text {
          color: $list-group-color-hover;
          text-decoration: $no-text-decoration;
        }
      }
    }

    &:focus,
    &.focus {
      box-shadow: $box-shadow-access-focus;
      color: $list-group-color;

      .access-title {
        color: $list-group-color;
        text-decoration: $no-text-decoration;
      }

      .access-content {
        .access-text,
        .access-title {
          color: $list-group-color;
          text-decoration: $no-text-decoration;
        }
      }
    }
  }

  &.list-group-item-logout {
    box-shadow: $box-shadow-access-hover-danger;
    color: $danger;

    &:visited {
      color: $danger;
    }

    &:after {
      content: $list-group-icon-logout;
    }

    &:hover {
      box-shadow: $box-shadow-access-hover-danger;
      color: $danger;
    }

    &.logout-sm {
      padding: 0.525rem 0.75rem;
      line-height: 1.45;
    }
  }
}

.list-group {
  &.list-group-row {
    @include media-breakpoint-up(md) {
      flex-direction: row;
      gap: 1rem;
    }

    .list-group-item {
      width: 100%;
    }
  }

  .list-group-title,
  .list-group-category {
    padding: $list-group-category-margin $list-group-padding-x;
    margin: 0;
  }

  .no-shadow {
    box-shadow: none;
  }
}

.group-access {
  display: grid;
  margin-bottom: 1rem;

  .card-access {
    display: grid;
    width: 100%;
    box-shadow: $box-shadow-access;
    border-radius: $list-group-border;
    padding-bottom: 0;

    .card-access-body {
      display: flex;
      gap: 12px;
      padding: $padding-card-access-body;

      &:not(.reverse) {
        justify-content: space-between;
      }

      &.p-list {
        padding: $padding-card-access-body-list;
      }

      .card-access-title {
        font-size: 19px;
        font-weight: 700;
        margin-top: 0.5rem;
      }

      .card-access-text {
        font-size: 13px;
        margin: 0;
      }

      .card-access-icon {
        font-size: $font-size-icon-card;
        background-color: #f3f6f9;
        flex: 0 0 $card-size;
        height: $card-size;
        border-radius: $list-group-border;
        text-align: center;
        line-height: $card-size;

        &.descriptive {
          color: $blue;
          font-weight: 600;
        }
      }

      &.reverse {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      @include media-breakpoint-down(xs) {
        padding: 1rem;
      }
    }

    &:has(.container-access) {
      .card-item {
        &:not(:hover) {
          @extend .shadow-none;
        }
      }
    }

    .container-access {
      .clearfix {
        margin: $margin-clearfix;
        border-top: $border-clearfix;

        &.clearfix-category {
          border-top: 4px solid #e6ebf0;
          margin: 0.1875rem 1.5rem 0.25rem;
        }
      }

      .access-option {
        .item-sm {
          box-shadow: none;
          padding: $padding-access-option-item-sm;
          margin-bottom: 5px;
          @include media-breakpoint-down(xs) {
            padding: 1rem !important;
          }

          &:last-child {
            margin-bottom: 13px;
          }

          &:active,
          &.active {
            box-shadow: $box-shadow-access-focus;
          }

          &:hover,
          &.hover {
            box-shadow: $box-shadow-access-hover;
          }

          &:focus,
          &.focus {
            box-shadow: $box-shadow-access-focus;
          }
        }

        &:has(.title-option) {
          .item-sm {
            padding: 0.75rem 1.5rem !important;
          }

          .title-option {
            padding: $padding-title-option;
            font-size: $font-title-option;

            &:first-child {
              padding: $padding-title-option-first-child;
            }
          }
        }
      }
    }

    .list-group-item {
      padding: 1.5rem;
      margin-top: auto;
      width: 100%;
    }
  }

  .card-item {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    margin-bottom: 0 !important;
    border-radius: $border-radius-card-item !important;
    @include display-flex-between;

    i,
    .material-icons-round {
      margin-right: 0.375rem;
    }
  }
}
