/* === Variable and mixins overides === */

$modal-header-padding-x: spaceUnits(6);
$modal-header-padding-y: spaceUnits(6);
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;

$modal-header-divisor: $modal-header-padding-x * -1;

// Whitespace on modal body content
$modal-inner-padding-x: spaceUnits(6);
$modal-inner-padding-y: spaceUnits(4);
$modal-inner-padding: $modal-inner-padding-y $modal-inner-padding-x;
$modal-inner-padding-bottom: 1.125rem;

$modal-footer-margin-between: spaceUnits(3);

$modal-content-border-radius: spaceUnits(2);
$modal-sm: 340px;
$modal-mobile: 328px;
$modal-dialog-margin-y-sm-up: 3rem;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */
@import 'node_modules/bootstrap/scss/modal';

/* === Custom styles === */

// Nota de Nico: Estos estilos no se comportan siempre de la forma esperada,
// habría que ajustarlos, pero al cambiar el funcionamiento de los modals,
// no va a hacer falta.

.modal {
  .form-group {
    input,
    textarea {
      margin-bottom: $modal-inner-padding;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-content {
    border: none;

    .modal-header {
      border-bottom: 0;
      padding-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
      box-shadow: 0 1.563rem 0 $modal-header-divisor $grisulado-50;

      &.unbordered {
        box-shadow: none;
        background: none;
      }

      small {
        margin-bottom: 0.5rem;
      }

      .modal-title {
        line-height: 1.5rem;
        letter-spacing: -0.19px;
      }
    }

    .modal-body {
      padding: spaceUnits(2) spaceUnits(6) 0;

      p {
        line-height: 1.5rem;
      }

      > *:last-child {
        margin: 0;
      }
    }

    .modal-footer {
      border-top: 0;
      padding: 1rem 1.5rem 1.5rem 1.5rem;
      gap: 0.5rem;

      button.btn {
        margin: 0px;
      }
    }

    @include media-breakpoint-down(sm) {
      width: $modal-mobile;
      margin: auto;

      .modal-header {
        padding: 1rem 1rem 0.5rem 1rem;
      }

      .modal-body {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .modal-footer {
        padding: 1rem;
      }
    }
  }
}
