/* === Variable and mixins overides === */

$modal-header-padding-x: spaceUnits(6);
$modal-header-padding-y: spaceUnits(6);
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x;

$modal-header-divisor: $modal-header-padding-x * -1;

// Whitespace on modal body content
$modal-inner-padding-x: spaceUnits(6);
$modal-inner-padding-y: spaceUnits(4);
$modal-inner-padding: $modal-inner-padding-y $modal-inner-padding-x;
$modal-inner-padding-bottom: 1.125rem;

$modal-footer-margin-between: spaceUnits(3);

$modal-content-border-radius: spaceUnits(2);
$modal-sm: 340px;
$modal-dialog-margin-y-sm-up: 3rem;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */
@import '~bootstrap/scss/modal';

/* === Custom styles === */

// Nota de Nico: Estos estilos no se comportan siempre de la forma esperada,
// habría que ajustarlos, pero al cambiar el funcionamiento de los modals,
// no va a hacer falta.

.modal {
  .form-group {
    input,
    textarea {
      margin-bottom: $modal-inner-padding;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .modal-content {
    // box-shadow: 0 0 0 2px $grisulado-50;
    border: none;

    .modal-header {
      border-bottom: 0;
      box-shadow: 0 1.563rem 0 $modal-header-divisor rgba($grisulado-50, 1);
      padding-bottom: 0.4rem;

      .modal-title {
        font-weight: bold;
      }
    }

    .modal-body {
      padding: spaceUnits(2) spaceUnits(6) 0;

      > *:last-child {
        margin: 0;
      }
    }

    .modal-footer {
      border-top: 0;
      padding: $modal-inner-padding-y - $modal-footer-margin-between / 2 $modal-inner-padding-x $modal-inner-padding-bottom;
      gap: spaceUnits(1);

      & > *:first-child {
        margin-left: 0;
      }

      & > *:last-child {
        margin-right: 0;
      }
    }
  }
}
