/* === Variable and mixins overides === */

$nav-link-font-weight: 400;
$nav-link-active-font-weight: 600;
$nav-pills-link-active-font-weight: 400;

$nav-link-padding-y: 0.75rem;
$nav-link-padding-x: 1rem;
$nav-link-disabled-color: $grisulado-300;
$nav-link-hover-bg: $grisulado-50;

$nav-pills-link-active-bg: $grisulado-900;
$nav-link-hover-color: $grisulado-700;


//Este estilo es v치lido pero como no est치 la variable $lightBlue-700 en esta branch rompe. Cuando mergeemos la branch "colors" con master y hagamos rebase de esto descomentamos.
//$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $lightBlue-700;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '~bootstrap/scss/_nav';

/* === Custom styles === */

.nav-link {
  color: $grisulado-900;
  font-weight: $nav-link-font-weight;
  @include border-radius($border-radius-container); //la definici칩n de esa variable est치 en _miscellaneous y es .5rem

  &.active {
    color: $blue;
    font-weight: $nav-link-active-font-weight;
  }

  @include hover() {
    background-color: $nav-link-hover-bg;
    color: $nav-link-hover-color;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $input-btn-focus-box-shadow;
  }
}

.nav-pills {
  .nav-link {
    @include border-radius($border-radius-container);

    &.active {
      font-weight: $nav-pills-link-active-font-weight;
      background-color: $nav-pills-link-active-bg;
    }
  }
}

.nav .nav {
  .nav-link {
    padding-left: $nav-link-padding-x * 2;
  }
  .nav {
    .nav-link {
      padding-left: $nav-link-padding-x * 3;
    }
    .nav {
      .nav-link {
        padding-left: $nav-link-padding-x * 4;
      }
    }
  }
}
