/* === Variable and mixins overides === */

$nav-link-font-weight: 400;
$nav-link-active-font-weight: 600;
$nav-link-line-heght: 1.378;

$nav-link-lg-font-weight: 600;
$nav-link-lg-font-size: 1.125rem;

$nav-icon-font-size: 1.25rem;

$nav-link-padding-sm-y: 0.25rem;
$nav-link-padding-sm-x: 0.5rem;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 0.75rem;
$nav-link-padding-lg-y: 0.75rem;
$nav-link-padding-lg-x: 0.75rem;
$nav-mobile-inner-padding-y: 0.75rem;
$nav-mobile-bg: $grisulado-10;

$nav-link-disabled-color: $grisulado-300;
$nav-link-hover-bg: $grisulado-50;

$nav-pills-link-active-bg: $blue;
$nav-link-hover-color: $blue;

$nav-focus-width: 0.25rem;
$input-btn-focus-box-shadow: 0 0 0 $nav-focus-width theme-color-level('info', 3);
$input-btn-hover-box-shadow: 0 0 0 $nav-focus-width/2 $blue;

$icon-expand: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAAXnVPIAAAAPElEQVQ4EWNkwAEsPGL+I0ud2LGEEZkPYzPBGOTSowYwMDCihzapgTkMAhFr6gKFA3rYjKZE3KmD4nQAADIcCfkjs4flAAAAAElFTkSuQmCC');
$icon-collapse: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAECAYAAACHtL/sAAAAAXNSR0IArs4c6QAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAEKADAAQAAAABAAAABAAAAACC/WKKAAAAGElEQVQYGWO08Ij5z0ABYKJAL1jrwBsAAOG3AePub4ocAAAAAElFTkSuQmCC');
$icon-user: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(56, 72, 92);transform: ;msFilter:;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>');
$icon-user-active: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>');
$icon-user-hover: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 123, 199);transform: ;msFilter:;"><path d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z"></path></svg>');
/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import '~bootstrap/scss/nav';

/* === Custom styles === */

.nav {
  &.flex-row {
    gap: 0.625rem;

    .nav-item {
      .nav-link {
        max-height: 40px;
        
        &-lg {
          max-height: 48px;
          padding: $nav-link-padding-lg-y $nav-link-padding-lg-x;
        }

        &-sm {
          max-height: 30px;
          padding: $nav-link-padding-sm-y $nav-link-padding-sm-x;
          font-size: 1rem;
        }
      }
    }
  }

  &.flex-column {
    gap: 0.250rem;
    margin-top: 0.188rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

.nav-pills {
  .nav-item {
    &:first-child {
      .nav-link {
        .nav-icon {
          display: flex;
          align-items: center;
          gap: 0.625rem;

          i {
            font-size: $nav-icon-font-size;
            display: inline;
          }
        }
      }
    }

    .nav-link {
      text-decoration: none;
      background-color: $white;

      &:hover {
        span {
          text-decoration: underline;
        }
      }

      &:focus {
        span {
          text-decoration: none;
        }
      }

      .nav-icon {
        i {
          display: none;
        }
      }
    }
  }
}

.nav-link {
  font-size: $nav-link-lg-font-size;
  color: $grisulado-900;
  font-weight: $nav-link-font-weight;
  line-height: $nav-link-line-heght;
  font-family: $font-family-headings;
  @include border-radius($border-radius * 2);

  &:visited {
    color: $grisulado-900;
  }

  &.border-link {
    box-shadow: 0 0 0 2px $grisulado-50;
  }

    i {
      font-size: 20px;
      vertical-align: middle;
    }

  @include hover() {
    box-shadow: $input-btn-hover-box-shadow;
    color: $nav-link-hover-color;
    text-decoration: underline;
    
    &:visited {
      color: $nav-link-hover-color;
    }

    .nav-icon {
      i {
        text-decoration: none;
      }

      span {
        text-decoration: underline;
      }
    }
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $input-btn-focus-box-shadow;
    color: $grisulado-900;
    text-decoration: none;

    .nav-icon {
      i {
        text-decoration: none;
      }

      span {
        text-decoration: none;
      }
    }
  }

  &.active-child {
    color: $blue;
    font-weight: $nav-link-active-font-weight;

    &:hover,
    &:focus {
      color: $blue;
      font-weight: $nav-link-active-font-weight;
      box-shadow: none;

      span {
        text-decoration: none !important;
      }

      .nav-icon {
        i {
          text-decoration: none;
        }

        span {
          text-decoration: none;
        }
      }
    }
  }
}

.nav-pills {
  .nav-link {
    @include border-radius($border-radius * 2);

    &.active,
    &:active {
      color: $white;
      background-color: $nav-pills-link-active-bg;

      &:hover,
      &:focus {
        color: $white;
        background-color: $nav-pills-link-active-bg;
        text-decoration: none;
        box-shadow: none;

        span {
          text-decoration: none;
        }

        .nav-icon {
          i {
            text-decoration: none;
          }

          span {
            text-decoration: none;
          }
        }
      }

      &.active-child {
        color: $blue;
        font-weight: $nav-link-active-font-weight;
        text-decoration: none;
        font-weight: $nav-link-active-font-weight;
        box-shadow: none;
        background-color: $white;
      }

      .nav-icon {
        span {
          text-decoration: none;
        }
      }
    }
  }
}

.nav.nav-lg {
  > .nav-link,
  > .nav-item > .nav-link {
    font-size: $nav-link-lg-font-size;
    font-weight: $nav-link-lg-font-weight;
  }
}

.nav .nav {
  .nav-link {
    padding-left: $nav-link-padding-x * 2;
  }
  .nav {
    .nav-link {
      padding-left: $nav-link-padding-x * 3;
    }
    .nav {
      .nav-link {
        padding-left: $nav-link-padding-x * 4;
      }
    }
  }
}

/* === Mobile styles === */

.nav-mobile-trigger {
  background-color: $nav-mobile-bg;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: $nav-link-lg-font-size;
  font-weight: $nav-link-lg-font-weight;

  &:after {
    content: '';
    display: block;
    background: $icon-collapse no-repeat center;
    width: 1rem;
    height: 1rem;
  }

  &.collapsed:after {
    background-image: $icon-expand;
  }
}

.nav-responsive {
  background-color: $nav-mobile-bg;

  .nav-link {
    padding: $nav-link-padding-y $nav-link-padding-x + $nav-link-padding-x/4;
    border-radius: 0;
  }
}

@include media-breakpoint-up(md) {
  .nav-mobile-trigger {
    display: none;
  }
  .nav-responsive {
    background-color: transparent;

    .nav-link {
      padding: $nav-link-padding-y $nav-link-padding-x;
      @include border-radius($border-radius);
    }

    &.collapse:not(.show) {
      display: block;
    }
  }
}
