/* === Variable and mixins overides === */

$pagination-padding-y: 0.25rem;
$pagination-padding-x: 0.6rem;
$pagination-margin-x: 0.2rem;
$pagination-border-width: 0;

$pagination-bg: transparent;
$pagination-hover-bg: transparent;
$pagination-disabled-bg: transparent;

/* === Custom variables and mixins === */

$page-navigation-border: 1px solid $border-color;

$pagination-icon-size: 1.25rem;

// @function pagination-icon($side, $color) {
//   $path: '';
//   @if $side == left {
//     $path: "<path d='M13.939 4.939L6.879 12 13.939 19.061 16.061 16.939 11.121 12 16.061 7.061z'></path>";
//   } @else {
//     $path: "<path d='M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z'></path>";
//   }
//   $color: svgColor($color);
//   @return url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="#{$pagination-icon-size}" height="#{$pagination-icon-size}" viewBox="0 0 24 24" style="fill:#{$color};transform:;-ms-filter:">#{$path}</svg>');
// }

$pagination-icon-left: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(0,123,199);transform:;-ms-filter:"><path d="M13.939 4.939L6.879 12 13.939 19.061 16.061 16.939 11.121 12 16.061 7.061z"></path></svg>');
$pagination-icon-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(0,123,199);transform:;-ms-filter:"><path d="M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z"></path></svg>');
$pagination-icon-left-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(102, 102, 102);transform:;-ms-filter:"><path d="M13.939 4.939L6.879 12 13.939 19.061 16.061 16.939 11.121 12 16.061 7.061z"></path></svg>');
$pagination-icon-right-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(102, 102, 102);transform:;-ms-filter:"><path d="M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z"></path></svg>');

/* === Bootstrap Import === */

@import '~bootstrap/scss/pagination';

/* === Custom styles === */

.pagination {
  display: block;
  text-align: center;

  .page-item {
    display: inline-block;

    .page-link {
      border-radius: $border-radius;
      margin: 0 $pagination-margin-x;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .page-previous-icon,
  .page-next-icon {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .page-previous-icon {
    content: $pagination-icon-left;
  }

  .page-next-icon {
    content: $pagination-icon-right;
  }

  .page-item.disabled {
    .page-previous-icon {
      content: $pagination-icon-left-hover;
    }
    .page-next-icon {
      content: $pagination-icon-right-hover;
    }
  }
}

@include media-breakpoint-down(xs) {
  .pagination {
    .page-item {
      .page-link {
        margin: 0;
      }

      .page-previous-text,
      .page-next-text {
        @include sr-only;
      }
    }
  }
}

.page-navigation {
  padding-top: spaceUnits(6);
  padding-bottom: spaceUnits(4);
  border-bottom: $page-navigation-border;
}
