/* === Variable and mixins overides === */

$pagination-bg: $white;

$pagination-color: $grisulado-900;
$pagination-active-color: $white;
$pagination-hover-color: $blue;

$pagination-box-shadow: 0 0 0 0.125rem $grisulado-50;
$pagination-focus-box-shadow: 0 0 0 0.25rem theme-color-level('info', 3) !important;
$pagination-hover-box-shadow: 0 0 0 0.125rem $blue;

$pagination-padding-y: spaceUnits(1);
$pagination-padding-x: spaceUnits(3);
$pagination-margin-x: 0.2rem;
$pagination-border-width: 0;

$pagination-hover-bg: transparent;
$pagination-disabled-bg: transparent;

/* === Custom variables and mixins === */

$page-navigation-border: 2px solid $border-color;

$pagination-icon-size: spaceUnits(5);
$pagination-size: 40px;

$pagination-icon-left-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(0,123,199);transform:;-ms-filter:"><path d="M13.939 4.939L6.879 12 13.939 19.061 16.061 16.939 11.121 12 16.061 7.061z"></path></svg>');
$pagination-icon-right-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(0,123,199);transform:;-ms-filter:"><path d="M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z"></path></svg>');
$pagination-icon-left: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(56, 72, 92);transform:;-ms-filter:"><path d="M13.939 4.939L6.879 12 13.939 19.061 16.061 16.939 11.121 12 16.061 7.061z"></path></svg>');
$pagination-icon-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(56, 72, 92);transform:;-ms-filter:"><path d="M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z"></path></svg>');
$pagination-icon-right-active-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(255,255,255);transform:;-ms-filter:"><path d="M10.061 19.061L17.121 12 10.061 4.939 7.939 7.061 12.879 12 7.939 16.939z"></path></svg>');
$pagination-icon-left-active-hover: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" style="fill:rgb(255,255,255);transform:;-ms-filter:"><path d="M13.939 4.939L6.879 12 13.939 19.061 16.061 16.939 11.121 12 16.061 7.061z"></path></svg>');

/* === Bootstrap Import === */

@import '~bootstrap/scss/pagination';

/* === Custom styles === */

.pagination {
  gap: 0.25rem;

  .page-item {
    display: inline-block;

    &.no-events {
      pointer-events: none;
    }

    &:active,
    &.active {
      .page-link {
        background-color: $pagination-active-bg;

        &:hover,
        &.hover {
          box-shadow: $pagination-box-shadow;
          color: $pagination-active-color;
          text-decoration: none;

          .page-previous-icon {
            content: $pagination-icon-left-active-hover !important;
          }

          .page-next-icon {
            content: $pagination-icon-right-active-hover !important;
          }
        }
      }

      .page-previous-text,
      .page-next-text {
        color: $pagination-active-color !important;
      }
    }

    .page-link {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $border-radius * 2;
      margin: 0 $pagination-margin-x;
      box-shadow: $pagination-box-shadow;
      height: $pagination-size;
      min-width: 35px;
      font-family: $font-family-headings;
      gap: 0.5rem;
      text-decoration: none;

      &:hover,
      &.hover {
        text-decoration: underline;
        box-shadow: $pagination-hover-box-shadow;

        .page-previous-icon {
          content: $pagination-icon-left-hover;
        }

        .page-next-icon {
          content: $pagination-icon-right-hover;
        }
      }

      &:focus,
      &.focus {
        text-decoration: none;

        .page-previous-text,
        .page-next-text {
          color: $pagination-color;
        }

        &:hover,
        &.hover {
          .page-previous-icon {
            content: $pagination-icon-left;
          }

          .page-next-icon {
            content: $pagination-icon-right;
          }
        }
      }
    }
  }

  .page-previous-icon,
  .page-next-icon {
    display: inline-block;
    vertical-align: text-bottom;
  }

  .page-previous-icon {
    content: $pagination-icon-left;
  }

  .page-next-icon {
    content: $pagination-icon-right;
  }

  .page-item.disabled {
    .page-previous-icon {
      content: $pagination-icon-left-hover;
    }
    .page-next-icon {
      content: $pagination-icon-right-hover;
    }
  }
}

@include media-breakpoint-down(xs) {
  .pagination {
    .page-item {
      .page-link {
        margin: 0;
      }

      .page-previous-text,
      .page-next-text {
        @include sr-only;
      }
    }
  }
}

.page-navigation {
  padding-top: spaceUnits(6);
  padding-bottom: spaceUnits(4);
  border-bottom: $page-navigation-border;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .page-link {
    &:active {
      background-color: $pagination-active-bg;

      &:hover {
        .page-previous-text,
        .page-next-text {
          color: $white !important;
        }
      }
    }

    &:hover {
      .page-previous-text,
      .page-next-text {
        color: $pagination-hover-color;
      }
    }

    &:focus {
      &:hover {
        .page-previous-text,
        .page-next-text {
          color: $pagination-color;
        }
      }
    }

    .page-previous-text,
    .page-next-text {
      color: $pagination-color;
    }
  }
}
