/* === Custom variables and mixins === */

$list-steps-padding-left: 1.875rem;
$list-steps-padding-bottom: 1rem;
$list-steps-line-width: 0.125rem;
$list-steps-circle-size: 1.25rem;
$list-steps-font-color: $grisulado-900;

/* === Custom styles === */

.list-steps {
  @extend .list-unstyled, .flex-column;
  margin-bottom: 0;

  &-item {
    color: $list-steps-font-color;
    position: relative;
    padding-bottom: $list-steps-padding-bottom;
    padding-left: $list-steps-padding-left;

    &:before {
      content: '';
      position: absolute;
      background-color: $list-steps-font-color;
      width: $list-steps-circle-size;
      height: $list-steps-circle-size;
      border-radius: 50%;
      top: 0;
      left: 0;
    }

    &:not(:last-child):after {
      content: '';
      position: absolute;
      background-color: $list-steps-font-color;
      z-index: -1;
      width: $list-steps-line-width;
      height: calc(100% - 24px);
      left: 0.575rem;
      top: calc(50% + 34px);
      transform: translate(0, calc(-50% - 24px));
    }
  }
}
