/* === Variable and mixins overides === */
$spinner-width: 3rem;
$spinner-height: 3rem;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */
@import '~bootstrap/scss/spinners';

/* === Custom styles === */
.spinner-container {
  display: flex;
  flex-flow: wrap column;
  align-items: center;

  .spinner-border {
    width: $spinner-width;
    height: $spinner-height;
  }
}
