/* === Variable and mixins overides === */
$spinner-border-width: 0.25rem;
$spinner-border-right-color: $grisulado-50;

$spinner-border-width-sm: 0.125rem;

$spinner-border-size-lg: 3rem;
$spinner-border-width-lg: 0.375rem;

/* === Bootstrap Import === */
@import 'node_modules/bootstrap/scss/spinners';

/* === Custom styles === */
.spinner {
  &-border {
    border-right-color: $spinner-border-right-color;

    &:is(.text-light) {
      border-color: $white;
      border-right-color: $grisulado-300;
    }

    &:is(.text-dark) {
      border-color: $grisulado-900;
      border-right-color: $spinner-border-right-color;
    }

    &-lg {
      width: $spinner-border-size-lg;
      height: $spinner-border-size-lg;
      border-width: $spinner-border-width-lg;
    }
  }

  &-block {
    @extend .spinner-border;
    border-width: $spinner-border-width;
    height: inherit;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}
