/* === Variable and mixins overides === */

$stepper-circle-size: 0.625rem;
$stepper-default-color: $grisulado-50;
$stepper-active-color: $grisulado-900;
$stepper-description-color: $grisulado-900;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

/* === Custom styles === */

.stepper {
  padding: 1rem 0.75rem;
  margin-bottom: 0;
  background-color: $grisulado-10;
  border-bottom: 1px rgba(0, 0, 0, 0.125);

  .step-title {
    @extend .h4;
    margin-bottom: 0.25rem;
  }

  .step-next {
    @extend .text-sm;
    color: $stepper-description-color;
    margin-bottom: 0;
  }

  .step-text {
    @extend .text-sm;
    display: inline-block;
  }

  .steps {
    display: inline-block;
    margin-right: .5rem;
    margin-top: 0.75rem;

    .step {
      width: $stepper-circle-size;
      height: $stepper-circle-size;
      border-radius: 100%;
      border: 1px solid $stepper-active-color;
      background-color: $stepper-default-color;
      display: inline-block;
      vertical-align: middle;
      margin-right: $stepper-circle-size / 2;

      &.active {
        background-color: $stepper-active-color;
      }
    }
  }
}
