/* === Variable and mixins overides === */
$switch-width: 48px;
$switch-height: 24px;
$switch-sm-width: 32px;
$switch-sm-height: 16px;

$switch-indicator-width: 18px;
$switch-indicator-height: 18px;
$switch-sm-indicator-width: 10px;
$switch-sm-indicator-height: 10px;

$switch-focus-shadow: 0 0 0 2px #005387;

/* === Bootstrap Import === */

/* === Custom styles === */

.switch-label {
  display: inline-block;
  cursor: pointer;
  padding-left: 8px;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
}

.switch {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  min-height: 24px;
  margin-bottom: 0;
  vertical-align: middle;
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-start;

  &.switch-dark {
    input:checked + .slider {
      background-color: $grisulado-900;
    }
  }

  &.switch-sm {
    .slider {
      width: $switch-sm-width;
      height: $switch-sm-height;
      margin-top: 0.25rem;
      &:before {
        height: $switch-sm-indicator-height;
        width: $switch-sm-indicator-width;
        left: 2px;
        bottom: 3px;
      }
    }

    .switch-label {
      &::first-letter {
        padding-left: 32px;
      }
    }

    input:checked + .slider:before {
      transform: translateX(18px);
      outline: 6px solid transparent;
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;

    &:checked + .slider {
      background-color: $blue;
      outline: 0.125rem solid transparent;
    }

    &:focus + .slider {
      box-shadow: $switch-focus-shadow;
      outline: 0.125rem solid transparent;
    }

    &:checked + .slider:before {
      transform: translateX(26px);
      outline: 10px solid transparent;
      outline-offset: -16px;
    }

    ~ .switch-label.on,  &:checked ~ .switch-label.off {
      display: none;
    }

    &:checked ~ .switch-label.on, ~ .switch-label.off {
      display: inline-block;
    }

    &:disabled + .slider {
      background-color: $grisulado-100;
      cursor: not-allowed;
      &:before {
        background-color: $grisulado-300;
      }
    }
  }

  .slider {
    position: relative;
    cursor: pointer;
    background-color: $grisulado-300;
    transition: 0.4s;
    border-radius: 50px;
    width: $switch-width;
    height: $switch-height;
    display: inline-block;
    grid-column: 1 / 2;
    grid-row: 1;
    outline: 0.125rem solid transparent;

    &:before {
      position: absolute;
      content: '';
      height: $switch-indicator-height;
      width: $switch-indicator-width;
      left: 2px;
      bottom: 3px;
      background-color: $white;
      transition: 0.4s;
      border-radius: 50%;
      outline: 0.125rem solid transparent;
    }
  }

  .switch-label {
     line-height: 24px;
     display: inline-block;
     word-wrap: break-word;
     grid-column: 1 / 2;
     grid-row: 1;
     &::first-letter {
       padding-left: 48px;
     }
     
     &.disabled {
      color: $grisulado-300;
     }
   }
}

.disabled {
  cursor: not-allowed;
}
