/* === Variable and mixins overides === */

$table-padding-y: spaceUnits(3);
$table-padding-x: spaceUnits(5);

$table-cell-padding: $table-padding-y $table-padding-x;

$table-color: $body-color;
$table-accent-bg: rgba($grisulado-50, 0.3);
$table-hover-bg: rgba($grisulado-50, 0.5);

$table-border-width: $border-width;

$table-head-bg: $grisulado-50;
$table-head-color: color-yiq($table-head-bg);

$table-striped-order: even;

/* === Custom variables and mixins === */

/* === Bootstrap Import === */

@import 'node_modules/bootstrap/scss/tables';

/* === Custom styles === */

.table {
  border: 1px solid $border-color;
  border-radius: $border-radius-container;
  border-collapse: initial;
  border-spacing: initial;
  margin: 0;

  td,
  th {
    @extend .align-middle;
  }

  thead {
    background: $table-head-bg;
    color: $table-head-color;

    th {
      border: none;

      &.tb-text {
        min-width: 252px;
      }

      &.tb-link {
        min-width: 204px;
      }
      &.tb-button {
        min-width: 152px;
      }
      &.tb-check {
        min-width: 136px;
        opacity: 0;
      }
      &.tb-tag {
        min-width: 140px;
      }
      &.tb-number {
        min-width: 136px;
      }

      &:first-of-type {
        border-top-left-radius: calc(#{$border-radius-container} - 1px);
      }

      &:last-of-type {
        border-top-right-radius: calc(#{$border-radius-container} - 1px);
      }
    }
  }

  tbody {
    tr {
      td {
        border-color: $grisulado-50;
        // vertical-align: middle;

        .actions-table {
          display: flex;
          flex-wrap: nowrap;
          gap: 0.5rem;

          .button-actions-table {
            background: none;
            border: none;
            padding: 0.125rem;
            border-radius: 0.25rem;

            &:hover {
              background-color: $grisulado-50;
            }

            &:focus,
            &.focus {
              box-shadow: 0 0 0 $input-btn-focus-width $box-shadow-button;
              text-decoration: $link-decoration;
            }

            .material-icons-round,
            .bx {
              color: $grisulado-900;
              vertical-align: middle;
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      &:first-of-type td {
        border-top: none;
      }

      &:last-of-type {
        td:first-of-type {
          border-bottom-left-radius: calc(#{$border-radius-container} - 1px);
        }

        td:last-of-type {
          border-bottom-right-radius: calc(#{$border-radius-container} - 1px);
        }
      }
    }
  }

  &.table-bordered {
    border-radius: $border-radius-container;
    thead th {
      border: none;
    }

    tr {
      td {
        border-left: none;
        border-bottom: none;

        &:last-of-type {
          border-right: none;
        }
      }
    }
  }

  &.table-selectable {
    @extend .table-hover;

    tbody tr td {
      cursor: pointer;
    }
  }

  $table-alignments: 'baseline', 'top', 'middle', 'bottom', 'text-bottom', 'text-top';

  @each $alignment in $table-alignments {
    &.table-align-#{$alignment} {
      td,
      th {
        @extend .align-#{$alignment};
      }
    }
  }
}

.table-responsive,
.table-responsive-sm,
.table-responsive-md,
.table-responsive-lg,
.table-responsive-xl {
  //Se le saca el extend de responsive-scroll de manera que esta queda deprecada.
  // border-left: 1px solid $border-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-container;

  > .table-bordered {
    // border: $border-width solid $border-color;
    border: none;
  }

  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 0.25rem theme-color-level('info', 3);
    outline: none;
  }
}
