/* === Variable and mixins overides === */

$tooltip-font-size: 1rem;
$tooltip-font-weight: 400;
$tooltip-padding: 1rem;
$tooltip-border: 0.5rem;
$tooltip-border-radius: 0.5rem;

/* === Custom variables and mixins === */

@mixin positionTootip ($positionY, $positionX, $translateY, $translateX, $borderPositionColor, $arrowX, $arrowValue) {
  &:before {
    #{$positionY}: 100%;
    #{border-#{$positionY}-width}: 0;
    #{border-#{$borderPositionColor}-color}: $grisulado-700;
  }
  &:after {
    #{$positionY}: calc(100% + 6px);
  }
  &:before,
  &:after {
    #{$positionX}: calc( 50% - 8px);
    transform: translate($translateX, $translateY);
  }
  &:before{
    transform: rotate(45deg);
    background-color: $grisulado-700;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    #{$arrowX}: $arrowValue;
  }
}

@mixin positionTootipX ($positionTop, $positionX, $borderPositionColor, $translateY, $translateX, $arrowX, $arrowY, $arrowXValue, $arrowYValue) {
  &:before {
    top: $positionTop;
    #{border-#{$positionX}-width}: 0;
    #{border-#{$borderPositionColor}-color}: $grisulado-700;
    #{$borderPositionColor}: calc(0em - 6px);
    transform: translate($translateX, $translateY);
  }
  &:after {
    top: 50%;
    #{$positionX}: calc(100% + 5px);
    transform: translate($translateX, $translateY);
  }
  &:before{
    transform: rotate(45deg);
    background-color: $grisulado-700;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    #{$arrowX}: $arrowXValue;
    #{$arrowY}: $arrowYValue;
  }
}

@mixin tooltip ($tag: '') {

  //-------------------DIRECTIONS-----------------
  //TOP 
  #{$tag}[data-tooltip][data-flow="top"] {
    @if $tag =='a' {
      @include positionTootip(bottom, left, -6px, -50%, top, top, -22px);
    }

    @else if $tag =='div' {
      @include positionTootip(bottom, left, -10px, -50%, top, top, -26px);
    }

    @else {
      @include positionTootip(bottom, left, -12px, -50%, top, top, -28px);
    }
  }

  //TOP RIGHT 
  #{$tag}[data-tooltip][data-flow="top-right"] {
    @if $tag =='a' {
      @include positionTootip(bottom, left, -6px, -5%, top, top, -22px);
    }

    @else if $tag =='div' {
      @include positionTootip(bottom, left, -10px, -5%, top, top, -26px);
    }

    @else {
      @include positionTootip(bottom, left, -12px, -5%, top, top, -28px);
    }
  }

  //TOP LEFT 
  #{$tag}[data-tooltip][data-flow="top-left"] {
    @if $tag =='a' {
      @include positionTootip(bottom, right, -6px, 5%, top, top, -22px);
    }

    @else if $tag =='div' {
      @include positionTootip(bottom, right, -10px, 5%, top, top, -26px);
    }

    @else {
      @include positionTootip(bottom, right, -12px, 5%, top, top, -28px);
    }
  }

  //BOTTOM 
  #{$tag}[data-tooltip][data-flow="bottom"] {
    @if $tag =='a' {
      @include positionTootip(top, left, 8px, -50%, top, top, 32px);
    }

    @else if $tag =='div' {
      @include positionTootip(top, left, 14px, -50%, bottom, top, 60px);
    }

    @else {
      @include positionTootip(top, left, 14px, -50%, bottom, top, 50px);
    }
  }

  //BOTTOM RIGHT 
  #{$tag}[data-tooltip][data-flow="bottom-right"] {
    @if $tag =='a' {
      @include positionTootip(top, left, 8px, -5%, bottom, top, 32px);
    }

    @else if $tag =='div' {
      @include positionTootip(top, left, 14px, -5%, bottom, top, 60px);
    }

    @else {
      @include positionTootip(top, left, 14px, -5%, bottom, top, 50px);
    }
  }

  //BOTTOM LEFT 
  #{$tag}[data-tooltip][data-flow="bottom-left"] {
    @if $tag =='a' {
      @include positionTootip(top, right, 8px, 5%, bottom, top, 32px);
    }

    @else if $tag =='div' {
      @include positionTootip(top, right, 14px, 5%, bottom, top, 60px);
    }

    @else {
      @include positionTootip(top, right, 14px, 5%, bottom, top, 50px);
    }
  }

  //LEFT
  #{$tag}[data-tooltip][data-flow="left"] {
    @if $tag =='a' {
      @include positionTootipX(50%, right, left, -50%, -12px, left, top, -28px, calc(50% - 8px));
    }

    @else if $tag =='div' {
      @include positionTootipX(50%, right, left, -50%, -14px, left, top, -28px, calc(50% - 8px));
    }

    @else {
      @include positionTootipX(50%, right, left, -50%, -14px, left, top, -28px, calc(50% - 8px));
    }
  }

  //LEFT-TOP
  #{$tag}[data-tooltip][data-flow="left-top"] {
    @if $tag =='a' {
      @include positionTootipX(40%, right, left, calc(-100% + 32px), -12px, left, top, -28px, calc(50% - 8px));
    }

    @else if $tag =='div' {
      @include positionTootipX(40%, right, left, calc(-100% + 32px), -14px, left, top, -28px, calc(50% - 8px));
    }

    @else {
      @include positionTootipX(40%, right, left, calc(-100% + 32px), -14px, left, top, -28px, calc(50% - 8px));
    }
  }

  //LEFT-BOTTOM
  #{$tag}[data-tooltip][data-flow="left-bottom"] {
    @if $tag =='a' {
      @include positionTootipX(60%, right, left, calc(0% - 32px), -12px, left, top, -28px, calc(50% - 8px));
    }

    @else if $tag =='div' {
      @include positionTootipX(60%, right, left, calc(0% - 32px), -14px, left, top, -28px, calc(50% - 8px));
    }

    @else {
      @include positionTootipX(60%, right, left, calc(0% - 32px), -14px, left, top, -28px, calc(50% - 8px));
    }
  }

  //RIGHT 
  #{$tag}[data-tooltip][data-flow="right"] {
    @if $tag =='a' {
      @include positionTootipX(50%, left, right, -50%, 14px, right, top, -28px, calc(50% - 8px));
    }

    @else if $tag =='div' {
      @include positionTootipX(50%, left, right, -50%, 14px, right, top, -28px, calc(50% - 8px));
    }

    @else {
      @include positionTootipX(50%, left, right, -50%, 14px, right, top, -28px, calc(50% - 8px));
    }
  }

  //RIGHT-TOP
  #{$tag}[data-tooltip][data-flow="right-top"] {
    @if $tag =='a' {
      @include positionTootipX(40%, left, right, calc(-100% + 32px), 14px, right, top, -28px, calc(50% - 8px));
    }

    @else if $tag =='div' {
      @include positionTootipX(40%, left, right, calc(-100% + 32px), 14px, right, top, -28px, calc(50% - 8px));
    }

    @else {
      @include positionTootipX(40%, left, right, calc(-100% + 32px), 14px, right, top, -28px, calc(50% - 8px));
    }
  }

  //RIGHT-BOTTOM
  #{$tag}[data-tooltip][data-flow="right-bottom"] {
    @if $tag =='a' {
      @include positionTootipX(60%, left, right, calc(0% - 32px), 14px, right, top, -28px, calc(50% - 8px));
    }

    @else if $tag =='div' {
      @include positionTootipX(60%, left, right, calc(0% - 32px), 14px, right, top, -28px, calc(50% - 8px));
    }

    @else {
      @include positionTootipX(60%, left, right, calc(0% - 32px), 14px, right, top, -28px, calc(50% - 8px));
    }
  }
}

/* === Custom styles === */

//POINTER
[data-tooltip] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

//TEXT
[data-tooltip]:before,
[data-tooltip]:after {
  font-size: $tooltip-font-size;
  font-weight: $tooltip-font-weight;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}

//ARROW
[data-tooltip]:before {
  content: "";
  z-index: 100;
}

//BOX
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: left;
  overflow: hidden;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  background: $grisulado-700;
  color: $white;
  z-index: 99;
  width: max-content;
  max-width: 18rem;
}

//SHOW TOOLTIP
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

//VOID
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

.icon-box {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include tooltip();
@include tooltip(a);
@include tooltip(div);