/* === Variable and mixins overides === */

$tooltip-font-size: 1rem;
$tooltip-font-weight: 400;
$tooltip-padding: 1rem;
$tooltip-border: 0.5rem;
$tooltip-border-radius: 0.5rem;

/* === Custom variables and mixins === */

@mixin positionTootip ($positionY, $positionX, $translateY, $translateX, $borderPositionColor) {
  &:before {
    #{$positionY}: 100%;
    #{border-#{$positionY}-width}: 0;
    #{border-#{$borderPositionColor}-color}: $grisulado-700;
  }
  &:after {
    #{$positionY}: calc(100% + 6px);
  }
  &:before,
  &:after {
    #{$positionX}: 50%;
    transform: translate($translateX, $translateY);
  }
}

@mixin positionTootipX ($positionTop, $positionX, $borderPositionColor, $translateY, $translateX) {
  &:before {
    top: $positionTop;
    #{border-#{$positionX}-width}: 0;
    #{border-#{$borderPositionColor}-color}: $grisulado-700;
    #{$borderPositionColor}: calc(0em - 6px);
    transform: translate($translateX, $translateY);
  }
  &:after {
    top: 50%;
    #{$positionX}: calc(100% + 5px);
    transform: translate($translateX, $translateY);
  }
}

/* === Custom styles === */

//POINTER
[data-tooltip] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

//TEXT
[data-tooltip]:before,
[data-tooltip]:after {
  font-size: $tooltip-font-size;
  font-weight: $tooltip-font-weight;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}

//ARROW
[data-tooltip]:before {
  content: "";
  border: $tooltip-border solid transparent;
  z-index: 100;
}

//BOX
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  background: $grisulado-700;
  color: $white;
  z-index: 99;
}

//SHOW TOOLTIP
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: inline-block;
  opacity: 1;
}

//VOID
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

//-------------------DIRECTIONS-----------------
//TOP 
[data-tooltip][data-flow="top"] {
  @include positionTootip(bottom, left, -8px, -50%, top);
}

[data-tooltip][data-flow="top"]:not(.btn) {
  @include positionTootip(bottom, left, -4px, -50%, top);
}

//TOP RIGHT 
[data-tooltip][data-flow="top-right"] {
  @include positionTootip(bottom, left, -8px, -5%, top);
}

//TOP LEFT 
[data-tooltip][data-flow="top-left"] {
  @include positionTootip(bottom, right, -8px, 5%, top);
}

//BOTTOM 
[data-tooltip][data-flow="bottom"] {
  @include positionTootip(top, left, 8px, -50%, bottom);
}

//BOTTOM RIGHT 
[data-tooltip][data-flow="bottom-right"] {
  @include positionTootip(top, left, 8px, -5%, bottom);
}

//BOTTOM LEFT 
[data-tooltip][data-flow="bottom-left"] {
  @include positionTootip(top, right, 8px, 5%, bottom);
}

//LEFT
[data-tooltip][data-flow="left"] {
  @include positionTootipX(50%, right, left, -50%, -8px);
}

//RIGHT 
[data-tooltip][data-flow="right"] {
  @include positionTootipX(50%, left, right, -50%, 8px);
}
