/* === Variable and mixins overides === */

//BOX
$tooltip-font-size: 1rem;
$tooltip-font-weight: 400;
$tooltip-padding: 1rem;
$tooltip-border: 0.5rem;
$tooltip-border-radius: 0.5rem;
$tooltip-width: 18rem;

//ARROW
$tooltip-arrow: 1rem;
$tooltip-arrow-border-radius: 0.125rem;
$tooltip-arrow-rotate: 45deg;

//ICON
$tooltip-icon-size: 1.25rem;

//ICON-BOX
$tooltip-icon-box-size: 3.25rem;
$tooltip-icon-box-border-radius: 0.5rem;
$tooltip-icon-box-padding: 1rem;

//CALCS TOP & BOTTOM
$calc-top: calc(0% - 16px);
$calc-bottom: calc(0% + 16px);
$calc-top-and-bottom: calc(100% + 10px);

//CALCS LEFT & RGHT
$calc-left: calc(0% - 22px);
$calc-right: calc(0% + 22px);
$calc-left-and-right-x: calc(0% - 32px);
$calc-left-and-right-y: calc(50% - 8px);
$calc-left-x: calc(100% + 16px);
$calc-right-x: calc(0% - 24px);

/* === Custom variables and mixins === */

@mixin tooltipY($positionX, $positionY, $translateX, $translateY, $arrowX, $arrowValue) {

  //Box
  &:before,
  &:after {
    #{$positionX}: calc(50% - 8px);
    #{$positionY}: calc(100%);
    transform: translate($translateX, $translateY);
  }

  //Arrow
  &:before {
    transform: rotate($tooltip-arrow-rotate);
    background-color: $grisulado-700;
    border-radius: $tooltip-arrow-border-radius;
    width: $tooltip-arrow;
    height: $tooltip-arrow;
    #{$arrowX}: $arrowValue;
  }
}

@mixin tooltipX($positionX, $translateX, $translateY, $arrowX, $arrowY, $arrowXValue, $arrowYValue, $x: calc(100%)) {

  //Box
  &:after {
    top: 50%;
    #{$positionX}: $x;
    transform: translate($translateX, $translateY);
  }

  //Arrow
  &:before {
    transform: rotate($tooltip-arrow-rotate);
    background-color: $grisulado-700;
    border-radius: 2px;
    width: $tooltip-arrow;
    height: $tooltip-arrow;
    #{$arrowX}: $arrowXValue;
    #{$arrowY}: $arrowYValue;
  }
}

/* === Custom styles === */

//TOOLTIP CONTAINER
.tooltip {
  height: max-content;

  & i {
    font-size: $tooltip-icon-size;
    height: $tooltip-icon-size;
  }

  & span {
    font-size: $tooltip-icon-size;
    height: $tooltip-icon-size;
  }
}

//ICON BOX
.icon-box {
  border-radius: $tooltip-icon-box-border-radius;
  padding: $tooltip-icon-box-padding;
  min-width: $tooltip-icon-box-size;
  min-height: $tooltip-icon-box-size;
  height: $tooltip-icon-box-size;
}

//POINTER
[data-tooltip] {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

//TEXT
[data-tooltip]:before,
[data-tooltip]:after {
  font-size: $tooltip-font-size;
  font-weight: $tooltip-font-weight;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}

//ARROW
[data-tooltip]:before {
  content: '';
  z-index: 100;
}

//BOX
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: left;
  overflow: hidden;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  background: $grisulado-700;
  color: $white;
  z-index: 99;
  width: max-content;
  max-width: $tooltip-width;
}

//SHOW TOOLTIP
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

//VOID
[data-tooltip='']::after,
[data-tooltip='']::before {
  display: none !important;
}

//-------------------DIRECTIONS-----------------
//TOP
[data-tooltip][data-flow='top'] {
  @include tooltipY(left, bottom, -50%, $calc-top, bottom, $calc-top-and-bottom);
}

//TOP RIGHT
[data-tooltip][data-flow='top-right'] {
  @include tooltipY(left, bottom, -5%, $calc-top, bottom, $calc-top-and-bottom);
}

//TOP LEFT
[data-tooltip][data-flow='top-left'] {
  @include tooltipY(right, bottom, 5%, $calc-top, bottom, $calc-top-and-bottom);
}

//BOTTOM
[data-tooltip][data-flow='bottom'] {
  @include tooltipY(left, top, -50%, $calc-bottom, top, $calc-top-and-bottom);
}

//BOTTOM RIGHT
[data-tooltip][data-flow='bottom-right'] {
  @include tooltipY(left, top, -5%, $calc-bottom, top, $calc-top-and-bottom);
}

//BOTTOM LEFT
[data-tooltip][data-flow='bottom-left'] {
  @include tooltipY(right, top, 5%, $calc-bottom, top, $calc-top-and-bottom);
}

//LEFT
[data-tooltip][data-flow='left'] {
  @include tooltipX(right, $calc-left, calc(-50%), left, top, $calc-left-and-right-x, $calc-left-and-right-y);
}

//LEFT-TOP
[data-tooltip][data-flow='left-top'] {
  @include tooltipX(right, $calc-left, calc(-100% + 24px), left, top, $calc-left-and-right-x, $calc-left-and-right-y);
}

//LEFT-BOTTOM
[data-tooltip][data-flow='left-bottom'] {
  @include tooltipX(right, $calc-left, calc(-24px), left, top, $calc-left-and-right-x, $calc-left-and-right-y);
}

//RIGHT
[data-tooltip][data-flow='right'] {
  @include tooltipX(left, $calc-right, calc(-50%), right, top, $calc-left-and-right-x, $calc-left-and-right-y);
}

//RIGHT-TOP
[data-tooltip][data-flow='right-top'] {
  @include tooltipX(left, $calc-right, calc(-100% + 24px), right, top, $calc-left-and-right-x, $calc-left-and-right-y);
}

//RIGHT-BOTTOM
[data-tooltip][data-flow='right-bottom'] {
  @include tooltipX(left, $calc-right, calc(-24px), right, top, $calc-left-and-right-x, $calc-left-and-right-y);
}

@include media-breakpoint-down(md) {
  
  //BOX
  [data-tooltip]:after {
    max-width: 14rem;
  }

  //TOP RIGHT
  [data-tooltip][data-flow='top-right'] {
    @include tooltipY(right, bottom, calc(-100% + 32px), $calc-top, bottom, $calc-top-and-bottom);
  }

  //TOP LEFT
  [data-tooltip][data-flow='top-left'] {
    @include tooltipY(left, bottom, -5%, $calc-top, bottom, $calc-top-and-bottom);
  }

  //BOTTOM RIGHT
  [data-tooltip][data-flow='bottom-right'] {
    @include tooltipY(right, top, calc(-100% + 32px), $calc-bottom, top, $calc-top-and-bottom);
  }

  //BOTTOM LEFT
  [data-tooltip][data-flow='bottom-left'] {
    @include tooltipY(left, top, -5%, $calc-bottom, top, $calc-top-and-bottom);
  }

  //LEFT
  [data-tooltip][data-flow='left'] {
    @include tooltipX(left, $calc-right, calc(-50%), left, top, $calc-left-x, $calc-left-and-right-y);
  }

  //LEFT-TOP
  [data-tooltip][data-flow='left-top'] {
    @include tooltipX(left, $calc-right, calc(-50%), left, top, $calc-left-x, $calc-left-and-right-y);
  }

  //LEFT-BOTTOM
  [data-tooltip][data-flow='left-bottom'] {
    @include tooltipX(left, $calc-right, calc(-50%), left, top, $calc-left-x, $calc-left-and-right-y);
  }

  //RIGHT
  [data-tooltip][data-flow='right'] {
    @include tooltipX(left, calc(-100%), calc(-50%), left, top, $calc-right-x, $calc-left-and-right-y, calc(0% - 16px));
  }

  //RIGHT-TOP
  [data-tooltip][data-flow='right-top'] {
    @include tooltipX(left, calc(-100%), calc(-50%), left, top, $calc-right-x, $calc-left-and-right-y, calc(0% - 16px));
  }

  //RIGHT-BOTTOM
  [data-tooltip][data-flow='right-bottom'] {
    @include tooltipX(left, calc(-100%), calc(-50%), left, top, $calc-right-x, $calc-left-and-right-y, calc(0% - 16px));
  }
}

hr {
  height: 2px;
  width: 100%;
  background-color: grey;
}