/* === Custom variables and mixins === */

$text-muted: $grisulado-700;

// Links
$link-decoration: underline;
$link-hover-decoration: underline;

$right-arrow-icon: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjMDA3YmM3IiBkPSJNMTEuMjkzIDE3LjI5M0wxMi43MDcgMTguNzA3IDE5LjQxNCAxMiAxMi43MDcgNS4yOTMgMTEuMjkzIDYuNzA3IDE1LjU4NiAxMSA2IDExIDYgMTMgMTUuNTg2IDEzeiIvPjwvc3ZnPg==');

/* === Custom styles === */

h1,
.h1,
h2,
.h2 {
  font-weight: $large-headings-font-weight;
}
h5,
.h5 {
  font-family: $h5-font-family;
  font-weight: $h5-font-weight;
}
h6,
.h6 {
  font-family: $h6-font-family;
  font-weight: $h6-font-weight;
}

.link-arrow {
  &:after {
    content: $right-arrow-icon;
    display: inline-block;
    vertical-align: middle;
    margin-left: spaceUnits(1);
    transition: $transition-base;
  }

  &:hover:after {
    margin-left: spaceUnits(2);
  }
}

blockquote {
  @extend .lead;
  padding-left: spaceUnits(4);
  margin: spaceUnits(8);
  border-left: spaceUnits(1) solid $grisulado-700;
  font-style: italic;
}

@include media-breakpoint-up(sm) {
  blockquote {
    padding-left: spaceUnits(6);
    margin: spaceUnits(8) spaceUnits(22);
  }
}
