.responsive-scroll {
  padding: 0.5rem;
  border: none;
  display: flex;
  overflow: auto;
  border-radius: $border-radius-container;

  &:has(> .table) {
    padding: 0;
    border: 1px solid $border-color;

    .table {
      border: none;
    }
  }

  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background-color: $grisulado-10;
    border-radius: 100px;
    outline: 0.125rem solid transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grisulado-300;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $grisulado-300;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.25rem $focus;
    outline: none;
  }
}
//Por accesibilidad en Modo Alto Contraste, se agrega color de fondo blanco a la barra de desplazamiento
@media (forced-colors: active) {
  .responsive-scroll {
    &::-webkit-scrollbar-thumb {
      forced-color-adjust: none;
      background-color: white;
    }
  }
}
//Esta clase es independiente de .table-responsive, de manera que si en drupal no se usa, se puede eliminar la clase .table-responsive
