.get-started-container {
  display: block;

  .get-started {
    max-width: 75ch;
    margin: auto;

    h2:first-of-type {
      font-size: 1.3125rem;
    }

    .code-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #f5f5f5;
      border-radius: 3px;
      padding: 1rem;
    }

    .code-sm {
      padding: 0.2rem;
      background-color: #f5f5f5;
      border-radius: 3px;
      color: #191919;
    }
  }
}
