.container {
  min-width: 800px;
}

ul.stepper {
  //padding: 0 1.5rem;
  //padding: 1.5rem;
  //margin: 1em -1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  counter-reset: section;
}

.stepper-horizontal {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.stepper-horizontal li {
  position: relative;
  display: flex;
  flex: 1;
  align-items: baseline;
}

/*.stepper-horizontal li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 4px;
  margin: .5rem 0 0 0;
  content: "";
  background-color: rgb(66 133 244);
}*/

.stepper-horizontal li:not(:first-child):before {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 4px;
  margin: 0.5rem 0 0 0;
  content: "";
  background-color: rgb(66 133 244);
}

.stepper-horizontal li:first-child:before {
  background-color: rgb(66 133 244) !important;
}


.stepper-horizontal li:not(:first-child).active:before {
  background-color: rgb(203 203 203) !important;
}

.stepper-horizontal li:not(:first-child).active:after{
  background-color: rgb(203 203 203) !important;
}

ul.stepper li a {
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: transparent;
}

li.completed a .circle {
  background-color: #4285f4 !important;
}

ul.stepper li a .circle {
  display: inline-block;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.7rem;
  color: #fff;
  text-align: center;
  background: rgb(203 203 203);
  border-radius: 50%;
}

ul.stepper li.completed a .label, 
ul.stepper li.completed a .sublabel {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

ul.stepper li a .label, 
ul.stepper li a .sublabel {
  display: block;
  color: rgba(0, 0, 0, 0.38);
}

.stepper-horizontal li a .label {
  margin-top: .63rem;
}

/////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// MOBILE ////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////

.content {
  width: 400px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, .03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  height: 250px;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

li.completed a .step {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #4285f4 !important;
  float: left;
}