.storybook__container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;

  &:has(.spinner-block) {
    width: 2.5rem;
    margin: auto;
  }
}
