.spinner-wrapper {
  div {
    margin-right: 2rem;
  }
}

.spinner-wrapper-text {
  display: flex;
  flex-flow: wrap column;
  align-content: flex-start;
}

.spinner-wrapper-text > div {
  margin-bottom: 6rem;
}
