
.storybook__container-cards {
  width: 340px;
  max-width: 100%;
}

.storybook__container-accordion {
  width: 712px;
  max-width: 100%;
}

.storybook__container-card-horizontal {
  width: 500px;
  max-width: 100%;
}
