
.storybook__container-cards {
  width: 340px;
  max-width: 100%;
}

.storybook__container-accordion {
  width: 712px;
  max-width: 100%;
}

.storybook__container-card-horizontal {
  width: 526px;
  max-width: 100%;
}

#root:has(.responsive-scroll.vertical-cards-container) {
  padding: 30px 15px;
}
