.storybook__container-alert {
  width: 712px;
  max-width: 100%;
}
.storybook__container-alert-full-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: absolute;
  left: 0;
}
