html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// svg.sidebar-svg-icon path {
//   fill: #fdd306 !important;
// }
