.tooltip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  .tooltip-row {
    display: flex;
    gap: 10px;
    margin-bottom: 2rem;
  }
}
