@import '../../scss/obelisco.scss';

.tooltip-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 0 2rem 0;

  .tooltip-row {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
  }

  .center,
  .left,
  .right {
    justify-content: center;

    &>*:nth-child(2) {
      margin: 0 8px;
    }
  }
}

@include media-breakpoint-down(md) {
  .tooltip-container {
    $flex-direction: column;
    $margin-bottom: 1rem;

    .center,
    .left,
    .right {
      width: 100%;
      flex-direction: $flex-direction;
      align-items: center;

      &>* {
        margin-bottom: $margin-bottom;
      }

      &>*:nth-child(2) {
        margin: 0 0 $margin-bottom 0;
      }
    }

    .center {
      &>*:nth-child(1) {
        align-self: flex-start;
      }

      &>*:nth-child(2) {
        align-self: center;
        margin: 0 0 $margin-bottom 0;
      }

      &>*:nth-child(3) {
        align-self: flex-end;
      }
    }

    .left {
      &>* {
        align-self: flex-start;
        margin-left: 0;
      }
    }

    .right {
      &>* {
        align-self: flex-end;
        margin-right: 0;
      }
    }
  }
}