// Color system

/* === Gray scale === */

$white: #fff;
$gray-50: #f2f2f2;
$gray-100: #e5e5e5;
$gray-200: #cccccc;
$gray-300: #b2b2b2;
$gray-400: #999999;
$gray-500: #7f7f7f;
$gray-600: #666666;
$gray-700: #4c4c4c;
$gray-800: #333333;
$gray-900: #191919;
$black: #000;

/* === Grisulado === */

$grisulado-10: #f3f6f9;
$grisulado-50: #dfe7f0;
$grisulado-100: #d3d9e0;
$grisulado-200: #b8c1cc;
$grisulado-300: #9eaab8;
$grisulado-400: #8a98a8;
$grisulado-500: #69788a;
$grisulado-600: #5c6a7a;
$grisulado-700: #505e70;
$grisulado-800: #425266;
$grisulado-900: #38485c;

/* === Color palette === */

$blue: #037dbf;
// $indigo:  #9b59b6; // Bootstrap's default
// $purple:  #9b59b6; // Bootstrap's default
// $pink:    #f54789; // Bootstrap's default
$red: #c93b3b;
$orange: #ffa82e;
$yellow: #fdd306;
$green: #26874a;
// $teal:    #18b596; // Bootstrap's default
$cyan: #007bc7;

/* === Color types === */

$primary: $yellow;
$secondary: $grisulado-500;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

/* === Color theme === */

$border-color: $grisulado-100;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 10%;

// The yiq lightness value that determines when the lightn  ess of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $grisulado-900;
$yiq-text-light: $white !default;

/* === Body === */

$body-bg: $white;
$body-color: $grisulado-900;
