// Variables

// Color system

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #037dbf;
// $indigo:  #9b59b6;
$purple:  #9b59b6;
$pink:    #f54789;
$red:     #e74c3c;
$orange:  #f39c12;
$yellow:  #fdd306;
$green:   #88bf48;
$teal:    #18b596;
$cyan:    #00b3e3;

$primary:       $yellow;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Links
$link-color: $blue;
