// @import '~/scss/obelisco.scss';

// Color system

/* === Gray scale === */

$white: #fff;
$gray-50: #f2f2f2;
$gray-100: #e5e5e5;
$gray-200: #cccccc;
$gray-300: #b2b2b2;
$gray-400: #999999;
$gray-500: #7f7f7f;
$gray-600: #666666;
$gray-700: #4c4c4c;
$gray-800: #333333;
$gray-900: #191919;
$black: #000;

/* === Grisulado === */

$grisulado-10: #f3f6f9;
$grisulado-50: #e6ebf0;
$grisulado-100: #d1d8e0;
$grisulado-200: #b8c1cc;
$grisulado-300: #9eaab8;
$grisulado-400: #8a98a8;
$grisulado-500: #69788a;
$grisulado-600: #5c6a7a;
$grisulado-700: #505e70;
$grisulado-800: #425266;
$grisulado-900: #38485c;

/* === Color palette === */

$blue: #007bc7;
$purple: #9b59b6;
$red: #c93b3b;
$orange: #ffa82e;
$yellow: #fdd306;
$green: #26874a;
$teal: #18b596;
$cyan: #009afd;
// $indigo:  #9b59b6; // Bootstrap's default
// $pink:    #f54789; // Bootstrap's default

/* === Color pastel === */

$sky: #99e8ff;
$lavender: #99b5ff;
$blackberry: #af99ff;
$berries: #e299ff;
$musket: #ff99e8;
$strawberry: #ff99e5;
$coral: #ffaf99;
$citrus: #ffe299;
$lime: #e8ff99;
$avocado: #b5ff99;
$pistachio: #99ffaf;
$aqua: #99ffe2;

/* === Color types === */

$primary: $yellow;
$secondary: $grisulado-600;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $red;
$light: $grisulado-10;
$dark: $gray-800;

/* === Color theme === */

$border-color: $grisulado-100;

// Set a specific jump point for requesting color jumps
$theme-color-interval: 10%;

// The yiq lightness value that determines when the lightn  ess of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $grisulado-900;
$yiq-text-light: $white !default;

/* === Body === */

$body-bg: $white;
$body-color: $grisulado-900;
$text-muted: $grisulado-500;

/* === Custom forms & stuff === */

$ghost: #f5f9fc;
$ghost-hover: #e5f1f9;
$component-active-bg: $blue;
$link-color: $blue;

$custom-select-indicator-color: $gray-800;
$custom-select-bg-size: 10px 7.5px;
$custom-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='3' viewBox='0 0 4 3'><path fill='#{$custom-select-indicator-color}' d='M2 2.8L0 0.2h4L2 2.8z'/></svg>") !default;

$custom-control-indicator-checked-color: $grisulado-900;

$theme-colors-obelisco: (
  'sky': $sky,
  'lavender': $lavender,
  'blackberry': $blackberry,
  'berries': $berries,
  'musket': $musket,
  'strawberry': $strawberry,
  'coral': $coral,
  'citrus': $citrus,
  'lime': $lime,
  'avocado': $avocado,
  'pistachio': $pistachio,
  'aqua': $aqua
);

@function custom-colors($color: pink, $level: 0) {
  $darken: darken($color, abs($level) * 5%);
  $lighten: lighten($color, abs($level) * 5%);

  @return if($level > 0, $darken, $lighten);
}

@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color !important;
  }
}

@each $color, $value in $theme-colors-obelisco {
  @include bg-variant('.bg-#{$color}', $value);
}

.bg {
  @each $color, $value in $theme-colors-obelisco {
    @for $i from 1 through 10 {
      &-#{$color}-#{$i} {
        $number: $i - 4;
        background-color: custom-colors($value, $number) !important;
      }
    }
  }
}
