/* === Variable and mixins overides === */

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 592px,
  md: 752px,
  lg: 976px,
  xl: 1120px
);

// Grid containers
$container-max-widths: (
  sm: 560px,
  md: 720px,
  lg: 944px,
  xl: 1088px
);

// Grid columns
$grid-columns: 12;
$grid-gutter-width: 30px;
