/* === Spacers === */

$spacer: 0.25rem;

$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 1
    ),
    2: (
      $spacer * 2
    ),
    3: (
      $spacer * 3
    ),
    4: (
      $spacer * 4
    ),
    5: (
      $spacer * 5
    ),
    6: (
      $spacer * 6
    ),
    7: (
      $spacer * 7
    ),
    8: (
      $spacer * 8
    )
  ),
  $spacers
);

@function spaceUnits($number) {
  @return $spacer * $number;
}

/* === Border === */

$border-radius-lg: spaceUnits(2);
$border-radius-container: $border-radius-lg;

/* === Focus === */

$focus-box-shadow: 0 0 0 $input-focus-width theme-color-level('info', 2);
$focus-color: theme-color-level('info', 3.25);
$focus-width: 4px;
$focus-box-shadow: 0 0 0 $focus-width $focus-color;

/* === SVG color scape === */

@function svgColor($color) {
  // @if type-of($string) == 'color' and str-index(#{$string}, '#') == 1 {
  //   $hex: str-slice(ie-hex-str($string), 4);
  //   $string: unquote('#{$hex}');

  //   @return '%23' + $string;
  // }

  // Prueba para ver si resuelve un error con postcss-loader

  $red: red($color);
  $green: green($color);
  $blue: blue($color);

  @return rgba($red, $green, $blue, 0.9999);
}
