/* === Variable and mixins overides === */

$font-family-polyfill: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-sans-serif: 'Open Sans', $font-family-polyfill;
$font-family-headings: 'Nunito', $font-family-sans-serif;

/*
 * Font weight names
 * 300: Light
 * 400: Regular
 * 600: Semi-bold
 * 700: Bold
 */

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$body-font-weight: 500;

$headings-font-family: $font-family-headings;
$headings-font-weight: 600;
$large-headings-font-weight: 700;

$h1-font-size: $font-size-base * 2.3125;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.3125;
$h4-font-size: $font-size-base * 1.1875;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$h5-font-family: $font-family-sans-serif;
$h5-font-weight: $large-headings-font-weight;

$h6-font-family: $font-family-sans-serif;
$h6-font-weight: $large-headings-font-weight;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$lead-font-size: $font-size-base * 1.188 !default;
$lead-font-weight: 400;

// Small size from 16px to 13px
$small-font-size: 81.25%;

// Links

$link-decoration: underline;
