.storybook__container-nav {
  width: 100%;
  max-width: 360px;
}

.storybook__container-nav-tab {
  max-width: 550px;
}

.storybook__container-bg {
  background-color: #f3f6f9;
  padding: 2.5rem;
  max-width: 720px;

  @media only screen and (max-width: 768px) {
    padding: 2.5rem 0;
  }
}

.storybook__container-tabs {
  max-width: 720px;
}
